[2018-11-15 09:24] hslusarek opened #16 "Frankaemika panda command planning integration tests fail"
Currently, the Travis builds fail because the Frankaemika panda command_planning integration tests fail (see [here](https://travis-ci.org/PilzDE/pilz_industrial_motion/jobs/454918905)).

We tried different things and discovered that the Frankaemika panda package has changed. Currently we believe that the collision model of the Frankaemika robot has changed. In our tests the panda robot starts at a

[2018-11-22 08:41] martiniil opened #25 "Non-empty start states invoke error despite not being used."
### Commit
e8f36e522815ce74a4d96bbecc7c3e0557269b3b

### Steps to reproduce
1. Create a sequence request where the second goal has a non-empty start state.
2. Plan the sequence trajectory.

### Expected behavior
The trajectory should be generated ignoring the start state of the second request completely.

### Observed behavior
The trajectory generation fails.

This is unnecessary since the start s

[2019-01-03 07:10] martiniil commented on #16
The following commit introduces the failure on our side. Just an enabling of the collision between links 5 and 7.
https://github.com/ros-planning/panda_moveit_config/commit/ccf7720d36d0df7f1c8db2d6911e18457bca073e

Altering the start position should fix this.

[2019-01-03 08:01] #16 closed, assigned to martiniil

[2019-01-07 10:10] agutenkunst commented on #25
I would not agree on the behavior you expect.
The code documentation clearly states that

https://github.com/PilzDE/pilz_industrial_motion/blob/d526457f417a8107177b5cfa28d9260c3eaee834/pilz_trajectory_generation/include/pilz_trajectory_generation/command_list_manager.h#L58-L62

However I think that this should be part of the documentation of the public interface.

Therefore I opened https://github

[2019-01-08 05:47] martiniil commented on #25
Ok, I missed that part of the documentation.

But I think the error code is not well-suited here. See #48.

[2019-01-08 05:47] #25 closed, assigned to agutenkunst

[2019-01-21 08:31] martiniil opened #52 "Refactoring of TrajectoryBlenderTransitionWindow"
This is for an open discussion/review of trajectory_blender_transition_window.cpp and the related tests.

[2019-01-21 08:34] martiniil commented on #52
https://github.com/PilzDE/pilz_industrial_motion/blob/a2d9280d463ef84acf64c7e9ba3a76b95080434f/pilz_trajectory_generation/src/trajectory_blender_transition_window.cpp#L121
This function intersects with
https://github.com/PilzDE/pilz_industrial_motion/blob/a2d9280d463ef84acf64c7e9ba3a76b95080434f/pilz_trajectory_generation/src/command_list_manager.cpp#L138

[2019-01-23 05:43] #52 closed, assigned to martiniil

[2019-01-24 08:33] agutenkunst opened #60 "IK solution not found if quaternion not properly normalised"
### Commit
83d9f04

### Steps to reproduce
Run a program with
[code]

Note: x²+y²+z²+w² ist bei or1=0.999999469134 und bei or2=0.999929

### Expected behavior
Both ways should work

### Observed behavior
Using a "not so much" normal quaternion yields in "IK solution not found"

[2019-01-29 09:39] #60 closed, assigned to nobody

[2019-01-31 07:00] martiniil opened #69 "Blend acceptance test fails"
### Commit
0e3b55f5272c7609b3822a937915dafcb5ac7070

### Steps to reproduce
See `acceptance_test_blending.md`

### Observed behavior
Execution of Sequence command in `_testOriChangeInABC` fails

### Log

[ERROR] [WallTime: 1548917606.471181951 /home/imartini/ros/src/pilz_industrial_motion/pilz_trajectory_generation/src/trajectory_functions.cpp 161]: Joint velocity limit of prbt_joint_2 violated. S

[2019-01-31 07:10] martiniil opened #70 "Robot goes full circle if circ command is repeated"
### Commit
0e3b55f5272c7609b3822a937915dafcb5ac7070

### Steps to reproduce
See `acceptance_test_goal_already_reached.py`

### Expected behavior
We expect the following error: `Failed to create path object for circle. Circle : Plane for motion is not properly defined.`

### Observed behavior
No failure, robot goes full circle.

[2019-01-31 07:22] martiniil opened #71 "SimpleActionClient error when requesting move in paused state"
### Commit
0e3b55f5272c7609b3822a937915dafcb5ac7070

### Steps to reproduce
See `acceptance_test_move_ctrl.py`

### Observed behavior
An error is displayed in the test `_test_pause_between_moves`

### Logfiles

[INFO] [WallTime: 1548918997.828578 /home/imartini/ros/src/pilz_industrial_motion/pilz_robot_programming/src/pilz_robot_programming/move_control_request.py 98]: Switching state from NO_REQU

[2019-01-31 07:26] martiniil opened #72 "Acceptance test Circ failes"
### Commit
0e3b55f5272c7609b3822a937915dafcb5ac7070

### Steps to reproduce
See `acceptance_test_circ.md`

### Observed behavior
Nearly all commands fail due to joint limits violation or no IK solution.

[2019-01-31 10:23] martiniil commented on #69
There is a sudden change in joint2 caused by a dead end on the chosen path. This can happen since the IK plugin does not know which path is valid.

This is a known issue.

@agutenkunst You were able to execute this one? Are there numerical instabilities?

[2019-01-31 15:27] #69 closed, assigned to nobody

[2019-02-08 07:01] martiniil opened #84 "Undercutting blend trajectory violates acceleration limits"
### Commit
ebeaab24df19f23f261076949c4a0e56becac738

In the program below the generation of the blending trajectory fails if the blend radius is between 0.02 and 0.07, even though both LINs have been generated successfully.

### Steps to reproduce
Execute the following program:

    from geometry_msgs.msg import Point
    from pilz_robot_programming.robot import *
    from pilz_robot_programming.c

[2019-02-11 11:59] martiniil commented on #84
Limiting the acceleration of the blend trajectory could be a new feature of the implementation.

[2019-02-13 11:42] hslusarek opened #88 "Store values (e.g. joint values) with or without comma separator"
As developer I want to store joint values, positions, or orientations as arrays. It should be possible to separate values by comma or by blank character, to simplify the usage of the testdata file.

[2019-02-13 11:52] hslusarek opened #89 "Default value for blend radius should be zero"
As developer I only want to state a blend radius (in the xml file) if it is unequal to zero. Otherwise the default value should be zero.

[2019-02-13 11:57] hslusarek opened #90 "Global default values in xml testdata file"
As developer I want to set global default values like the group_name, link_name, velocity or acceleration, to simplify the usage of the xml testdata file.

[2019-02-13 12:00] hslusarek opened #91 "Seperate storage of position and orientation"
As developer I want to separately state the position and orientation, to simplify the usage of the xml testdata file.

[2019-02-13 13:47] hslusarek opened #93 "Version number for the xml testdata file"
As developer I want to check that the xml-definition convention matches with my expectation via version number in the xml testdata file, to make the tests more robust.

Background:
The conventions for the xml testdata file might change over time. Therefore, it seems reasonable to introduce a version number to the xml file which allows us to check if the expected convention match with the conventio

[2019-02-15 14:20] martiniil commented on #71
See https://github.com/ros/actionlib/issues/126

[2019-02-18 14:32] agutenkunst opened #95 "Relative movement in sequence is broken"
When using relative motion in a sequence the relative seems to reference to the position before the sequence. This is especially bad when transitioning from non-sequence to sequence since the robot could crash.

### Commit
pilz-robot-programming 0.3.3

### Steps to reproduce
Run
[code]
### Expected behavior
The two seperate LIN should move the robot exactly in the same way like the two LIN in the

[2019-02-20 07:38] #72 closed, assigned to nobody

[2019-02-20 11:56] agutenkunst commented on #95
@dbakovic Do you agree on the **expected behaviour**? Or do you have something different in mind?

[2019-02-22 06:29] JonathanGruner opened #98 "Robot doesn't want to drive to existing cartesian goals"
If I teached the robot in RVIz and then read the coordinates from tf (see in picture the Terminal in the upper right corner), i save them in Python script. After executing the script tobot says, he could not reach the cartesian position (with joint values it works), see Terminal at the bottom right and at the top left).

I recognized the issue about unnormalized quartenions, and so i did use the e

[2019-02-22 08:49] martiniil commented on #98
@JonathanGruner
I did execute the following without getting an error:

Can you give more details about your settings?
- How did you launch the robot?
- Did you modify the robot description?
- How does your python script look like?

[2019-02-22 09:15] agutenkunst opened #99 "Potential memory leak in path_circle_generator"
https://github.com/PilzDE/pilz_industrial_motion/blob/1657377f87f524401c6b7d2228bd39e9a037043d/pilz_trajectory_generation/src/path_circle_generator.cpp#L42-L58

and

https://github.com/PilzDE/pilz_industrial_motion/blob/1657377f87f524401c6b7d2228bd39e9a037043d/pilz_trajectory_generation/src/path_circle_generator.cpp#L94-L110

look like they could leak...

[2019-02-22 09:16] JonathanGruner commented on #98
@martiniil
I have given you access at gitlab "ros_workshop" there i described which files i did run.

In general: I did a xacro model of the environment, and inserted an gripper at the robot.
Therefore I copied prbt_moveit_config to my package, and disabled some colissions.

[2019-02-22 12:36] JonathanGruner commented on #98
The problem was, that I thought the absolute coordinates are relative to the prbt_base_link, but its to the world. And if I move the prbt_base_link, its not working anymore.

Could you maybe append this information in the Pilz robot programming API documentation?
Thanks for fast and efficient support!

[2019-02-22 12:36] #98 closed, assigned to martiniil

[2019-02-22 13:10] martiniil commented on #99
https://help.github.com/en/articles/closing-issues-using-keywords

[2019-02-22 13:10] #99 closed, assigned to nobody

[2019-02-22 13:43] martiniil opened #102 "prbt_base is not default reference_frame"
related: #98

### Steps to reproduce
1. Modify urdf such that `prbt_base` does not match root-link `world`
2. Execute a ptp pose command without reference frame

### Expected behavior
Robot should move relative to `prbt_base` frame

### Observed behavior
Robot moves relative to `world` frame

[2019-02-22 13:49] martiniil commented on #102
Is it intended that we require `prbt_base` and `world` to be identical? I am not sure if I fully understand the meaning of these frames. At least it should be possible to position the robot by simply altering the transform from `world` to `prbt_base_link`?
![screenshot from 2019-02-22 14-47-53](https://user-images.githubusercontent.com/35950815/53246426-f25f8100-36b0-11e9-8e08-97bc6b49706f.png)

[2019-02-25 06:23] #71 closed, assigned to martiniil

[2019-02-25 10:28] jschleicher commented on #102
Please see [ROS-I wiki: Create URDF for an Industrial Robot](http://wiki.ros.org/Industrial/Tutorials/Create%20a%20URDF%20for%20an%20Industrial%20Robot#Additional.2BAC8-Standard_Frames) for a description of standard frames.

Yes, it is possible to move the robot around / move prbt_base to not match the world coordinate system. If you want to command positions in "world" or "base" coordinates in th

[2019-02-25 11:57] gavanderhoorn commented on #102
Slightly off-topic: a more up-to-date (but still WIP) reference: [Coordinate Frames for Serial Industrial Manipulators](https://github.com/gavanderhoorn/rep/blob/coord_frames_ind_robots/rep-xxxx.rst) ([rendered](http://gavanderhoorn.github.io/rep/rep-xxxx.html)).

Convention would say: Cartesian commands are in the "base frame" of the robot (ie: group).

This would seem to correspond to what indus

[2019-02-26 10:47] #70 closed, assigned to nobody

[2019-02-26 12:15] martiniil commented on #102
Yes, that sounds very reasonable. Thanks for the input.
Actually, our Readme states that `prbt_base` is used as default.

[2019-02-27 10:53] agutenkunst commented on #102
Reminder: Increase ROBOT_API if behaviour change on existing programs can be expected.

[2019-03-12 17:05] rbaur451 opened #110 "melodic-ros-base installation: Could not load library...libeigen_conversions.so"
### Commit
ros-melodic-pilz-trajectory-generation       0.4.1-1bionic.20190302.180259      armhf

### Steps to reproduce
How can the issue/bug be reproduced?
1. sudo apt install ros-melodic-ros-base
2. roslaunch prbt_moveit_config moveit_planning_execution.launch pipeline:=pilz_command_planner

### Observed behavior
Error string: Could not load library (Poco exception = libeigen_conversions.so: ca

[2019-03-13 10:40] jschleicher commented on #110
The ros package `ros-melodic-eigen-conversions` seems to contain that .so as well. Please try to remove `libtf-conversions-dev` and install `ros-melodic-eigen-conversions`.

[code]

The fix would then be to make `eigen_conversions` a run_depend in pilz_trajectory_generation.

[2019-03-13 10:54] rbaur451 commented on #110
Removed the **libtf-conversions-dev** package and installed **ros-melodic-eigen-conversions**.
The solution works fine.

[2019-03-14 09:16] rfeistenauer opened #115 "Using super in pilz robot programming"
To allow multiple inheritance and dependency injection (e.g. to mock in tests) one should use super to call parents init instead of directly calling it. Additionally **kwargs has to be accepted, otherwise it will throw issues, when using multiple inheritance.

[2019-03-18 08:46] #110 closed, assigned to nobody

[2019-03-19 07:49] martiniil opened #122 "Gripper in tests with joint data."
We need a uniform way of handling the gripper in tests. Currently we are circumventing the problem:
https://github.com/PilzDE/pilz_industrial_motion/blob/6cce6beb3b35060d2b04340898e4c9dc4381a0c0/pilz_trajectory_generation/test/unittest_trajectory_generator_circ.cpp#L440
The following options could be considered:

1. All tests are run with gripper by default.
2. There are tests with and without gri

[2019-03-19 13:29] martiniil opened #123 "Circ planning fails when start, center and interim are colinear"
### Reference to test
See `unittest_trajectory_generator_circ.test` at  2b96750

[2019-03-20 09:47] ct2034 commented on #123
fix: #106

[2019-03-20 14:47] rfeistenauer opened #124 "pilz_robot_programming has a lot of unused code"
### Commit
commit 685c781874d1771b67058b040983813d9185a719

### Steps to reproduce
vulture .../pilz_robot_programming

### Expected behavior
Not much unused stuff

### Observed behavior
quite the opposite. And it doesn't even find all. e.g. _MAX_ACC_SCALE

[2019-03-21 16:20] tllatzal opened #126 "LIN Movement: Start point deviates from current robot state"
### Commit
0.3.6

### Description
Hello everyone,

I want to use the pilz_industrial_motion package to move a kuka kr16 r1610. I'm using the pilz_robot_programming Python API and the kuka_experimental robot driver. PTP movement works fine but I'm having problems with LIN movement. Things i tried:
1. Absolute linear movement to current postition by inserting "r.get_current_pose" as target pose
2. A

[2019-03-22 12:03] martiniil commented on #126
@tllatzal Thanks for reporting this issue. Can you post more of the log on the lower left side? It only shows output from the second LIN command. It would be good to see also the output from the planning of the first LIN.

[2019-03-22 12:14] tllatzal commented on #126
@martiniil The error message is the same for all LIN movements. The only difference were the values in the "True cartesian goal". The Python program always throws this error on the first LIN command. No matter if its relative, absolute or absolute to the current position. I also tried omitting the "target_link" parameter without success.

[2019-03-22 13:34] martiniil commented on #126
Ok. And can you exclude that there is already high deviation in the `/joint_states` themselves?
Then this could be related to the IK solver. I don't know which is used for the kuka in your case. But when the start state deviates drastically from `/joint_states`, I would assume a poor IK solution.

[2019-03-22 14:56] tllatzal commented on #126
Thank you very much for pointing me in the right direction. The problem was a faulty .urdf file. After recreating it using the .xacro everything seems to work. The robot now moves linearly to the desired cartesian position with absolute accuracy (according to the robot controller).
I still have a problem with the tool orientation when using the relative parameter and LIN movements. I will look at

[2019-03-22 14:56] #126 closed, assigned to nobody

[2019-03-25 05:41] #115 closed, assigned to nobody

[2019-03-26 12:36] tllatzal opened #127 "Blending issue: Trajectory message contains waypoints that are not strictly increasing in time"
### Expected behavior
Blended linear motion between two points.

### Observed behavior
Moveit Error:
[ERROR] [1553595062.866247519]: Trajectory message contains waypoints that are not strictly increasing in time.

## Description
Hello everyone,

when I try to move the robot (Kuka KR16 R1610) using blended linear motion I get the error above by MoveIt. So I checked the trajectory being send to the

[2019-03-26 13:12] tllatzal commented on #127
I just found out that it does work if the first Lin command in the sequence is also blended.
So this works:
[code]
This doesn't:
[code]
It seems generally blending does not work if it is being started within a sequence where the previous point was not blended. Because this also does not work for me:
[code]

I don't know if this is a bug, wanted behaviour or something which is not implemented yet.

[2019-03-26 15:23] hslusarek opened #128 "pilz_command_planner: Rviz Plugin - Movement not possible"
### Commit (Stand: 19.03.2019):
- kinetic-devel
- pilz_industrial_motion - Version: 0.3.6-0
- pilz_robots -  Version: 0.4.7-0
- prbt_grippers - Version: 0.0.1-0

### Steps to reproduce
Launch real robot via:
```roslaunch prbt_moveit_config moveit_planning_execution.launch sim:=false pipeline:=pilz_command_planner```
In Rviz perform the following steps:
1. Select Ptp command.
2. Choose position to

[2019-03-28 07:00] martiniil opened #130 "Test PTP trajectory generator with planning_group gripper"
In `unittest_trajectory_generator_ptp.cpp` the planning_group is always `manipulator`. The tests should also be conducted using the group `gripper`.

[2019-03-28 12:16] hslusarek commented on #128
- Bug **not** reproducible with commits (Stand: 26.04.19):
  - pilz_industrial_motion: 3c99424bfe4de8f289d138ef5e0038b96b69df90
  - pilz_robots: a0d4fda
  - prbt_support: 31f9f169f82839512fc4c376104e6bd09741a1cf
  - Firmeware: "100 Build:11158 Date:2018-06-07 16:49:55%"

- Bug also not reproducible with:
ros-kinetic-prbt-gazebo is already the newest version (0.4.7-0xenial-20190320-230328-0800).
ro

[2019-03-28 12:17] hslusarek commented on #123
Waiting for merge.

[2019-03-28 15:48] #123 closed, assigned to nobody

[2019-04-04 09:16] martiniil opened #134 "Refactor VelocityProfile_ATrap::SetProfileAllDurations()"
### Commit
6de6f2d059e8b96280236c4c54c8071af03632e3

### Problem Description
In some error cases the function `VelocityProfile_ATrap::SetProfileAllDurations()` returns false, in others it throws an exception.
By construction of the PTP generator, this function always returns true. This makes a code block in `trajectory_generator_ptp.cpp` unreachable. The problem would vanish, if it only throws exc

[2019-04-04 10:32] martiniil commented on #102
WIP: 7d66d110025c0a768beb7727154fdc70ad957123

[2019-04-06 10:43] hslusarek opened #136 "Synchronize of previously working velocity profile fails"
### Commit
I rebased against kinetic devel. My current commit is: 6dfd8a917c3fc941110450263f900f63cafb803b. Now some of the python tests do not work (e.g. tst_sequence_with_gripper and tst_api_execution_stop). On the console I see that the velocity profiles between certain axis cannot be synchronized.
I found this problem on kinetic-devel (6e3da7394a3f9c02680d5d430c121fd5af283922,  see also [here

[2019-04-08 06:08] martiniil commented on #136
This bug was hidden because a failure of `VelocityProfile_ATrap::SetProfileAllDurations` had no effect before 4e63042f8314f7c69f441b15ee0f71d3b3d68561 (return value was ignored).

[2019-04-08 08:18] #136 closed, assigned to martiniil

[2019-04-08 09:58] martiniil commented on #122
In this context, it should also be avoided to load two robot descriptions (one with and one without gripper) onto the parameter server. See https://github.com/PilzDE/pilz_robots/pull/94

[2019-04-08 10:37] martiniil opened #138 "Visualize circ computation"
Visualize the different vectors and angles (and their relation) that are computed in `path_circle_generator.cpp`. Especially, this should make the use of `KDL::Path_Circle` more easily comprehendable.

[2019-04-12 06:13] martiniil opened #144 "CommandListManager should explicitly check for end-effector/missing solver"
### Commit
ae27c43c3fb33c4970492580ee3a81d6c3426775

Currently, we throw if the group for blending is an end-effector or has no solver:
https://github.com/PilzDE/pilz_industrial_motion/blob/ae27c43c3fb33c4970492580ee3a81d6c3426775/pilz_trajectory_generation/include/pilz_trajectory_generation/tip_frame_getter.h#L22

I think it would be more "transparent" to add a check directly to the comand_list_m

[2019-04-12 12:02] ct2034 opened #146 "Trajectory message contains waypoints that are not strictly increasing in time."
### Commit
At which commit was the issue/bug observed?

### Steps to reproduce
On a real robot: Make a sequence, where the second command has a blend radius, e.g.

    r.move(Ptp(goal=Pose(position=Point(0.0, 0.0, .9), orientation=Quaternion(0,0,0,1)),
                    vel_scale=SLOW_VEL_SCALE,
                    acc_scale=ACC_SCALE))
    seq = Sequence()
    seq.append(Ptp(goal=Pose(position=

[2019-04-12 12:03] ct2034 commented on #146
probably related to #127

[2019-04-17 08:44] agutenkunst commented on #95
@PilzDE/robotics Can this be closed?

[2019-04-17 12:32] JonathanGruner commented on #95
No, the expected behavior is the same to mine point of view. Because i mostly use relative commands,
Sequence is very difficult to use. I would appreciate if you could solve this bug.

[2019-04-18 08:12] #146 closed, assigned to nobody

[2019-04-18 08:24] martiniil commented on #127
Blending should work now for all cases. (Or at least with next release)

[2019-04-18 08:24] #127 closed, assigned to martiniil

[2019-04-23 05:56] martiniil commented on #95
I would suggest that we do not treat this as a bug but as a missing feature. Whilst I agree on the expected behaviour, this cannot be realized in the Python API. It would at least require a substantial architectural change. So the question arises, if we want to support it at all.
@agutenkunst would you agree if we do not support this feature? (i.e. do not execute such a sequence)

[2019-04-26 09:37] hslusarek commented on #128
- [ ] TODO: Determine Firmeware version of robot on which bug occured

[2019-04-29 08:53] #144 closed, assigned to nobody

[2019-04-29 09:02] hslusarek commented on #144
I closed the issue after a discussion with martiniil. The idea is to perform checks when I actually need the information and not beforehand. In other words, the guideline is perform the check at the lowest possible level.

[2019-04-29 09:03] jschleicher commented on #95
At least for the given example you could implement the desired behaviour by passing the previous goal instead of the current pose in https://github.com/PilzDE/pilz_industrial_motion/blob/bd5a71ccb64559fbd050525b761af6b7afa70fb0/pilz_robot_programming/src/pilz_robot_programming/commands.py#L277

This would at least work for pose-only or joint-only-sequences. Mixed sequences should imho throw an exc

[2019-04-30 06:50] JonathanGruner commented on #95
But what about sevaral relative commands in line? Can the program handle this? Because than the previous point wouldn't be given directly...

i.e. a sequence like:
- Move to point X
- Move 10 cm upwards (relative)
- Move 10 cm forward (relative)
- Move 3 cm diagonal in x/z (relative)
- Move to exit point

[2019-04-30 06:54] jschleicher commented on #95
Yes, I'd suggest to support cartesian-only-sequences with relative. I think that covers your use case @JonathanGruner

Once an intermediate point is given in joint angles, the pose would have to be calculated using forward kinematics (possible, but currently out-of-scope of the python API level).

[2019-04-30 07:00] JonathanGruner opened #154 "Guessing parameters"
I have a problem with programming a application effective, because of guessing parameters if the program is not able to execute the move commands. I would request a feature to make programming more usable for industries if the parameters are not important for me but for the program, than the program should use a possible parameter on his own.

i.e.: LIN movements--> velocity. If i don't give any v

[2019-04-30 12:06] hslusarek commented on #154
@dbakovic What do you think?

[2019-05-14 13:05] rfeistenauer opened #160 "Joint Goal does not accept tuple"
### Steps to reproduce
How can the issue/bug be reproduced?
`r.move(goal=(0, 0, 0, 0, 0, 0))`

### Expected behavior
same as with list

### Observed behavior
does not recognize goal

[2019-05-16 11:31] agutenkunst commented on #160
@rfeistenauer Please use the issue template on future issues.

PR welcome. But please remember to add docu/tests.

[2019-05-16 11:40] agutenkunst commented on #124
Not sure but our coverage analysis showed no problems.

Could you run our coverage tools?

[2019-05-16 12:23] dbakovic commented on #154
@JonathanGruner Thank you for your suggestion. We have it already on our todo list. Due to tasks of higher priority it will take a while before we start with the implementation.

[2019-05-16 13:43] jschleicher commented on #124
@agutenkunst obviously python-coverage treats object definition as covered and does not require instantiation.
@rfeistenauer for me vulture detected just one exception:
[code]
Those message fields are sent using `sendGoal` and thus used by the ActionClient. I'd not check for unused variables in tests and thus suggest to close this with #162 (not done with the commit message to let you double-check

[2019-05-17 08:41] hslusarek commented on #128
Bug could **not** be reproduced with:
- kinetic
- pilz_industrial_motion - Version: 0.3.6-0
- pilz_robots - Version: 0.4.7-0
- prbt_grippers - Version: 0.0.2-0
- Firmeware: 101 Build:11345 Date:2018-12-17 07:33:06\x15\x02\0

[2019-05-17 11:31] jschleicher opened #163 "Replace tf by tf2"
Tf is deprecated since ROS hydro and superseded by tf2. Please consider replacing it in the python API pilz_robot_programming.

https://github.com/PilzDE/pilz_industrial_motion/blob/08c6a8c0da90679c0e6ca5e883486be698df2212/pilz_robot_programming/package.xml#L14

[2019-05-17 13:31] jschleicher commented on #124
@rfeistenauer Did you start this issue because of pycharm displaying PEP-8 warnings? Then #164 would help?!

[2019-05-17 13:41] jschleicher opened #165 "final kinetic->melodic merge _after_ changing the default branch"
@jschleicher I would rather do a final kinetic->melodic merge _after_ merging this PR.

_Originally posted by @martiniil in https://github.com/PilzDE/pilz_industrial_motion/pull/150#issuecomment-484377930_

[2019-05-17 13:43] jschleicher commented on #165
Imho the kinetic->melodic merge should hapen asap, before any new melodic PRs to keep merge conflicts managable.
#161 shows, that the current state is confusing.

[2019-05-20 05:28] rfeistenauer commented on #124
No, I just did a vulture check for another PR and it had a lot of warnings, but as you already mentioned, most of them are just ROS messages, that vulture doesn't recognize. #162 should fix this issue

[2019-05-22 06:58] martiniil commented on #128
@hslusarek Close?

[2019-05-23 06:34] martiniil commented on #165
I prepared the merge here: #168

[2019-05-23 09:46] #165 closed, assigned to martiniil

[2019-05-23 15:25] rbaur451 opened #169 "Planner plugins load every time a driving command is running"
### Steps to reproduce
We tried to run a user program based on your API and found out that the reaction time retarded up to 400 ms.

### Expected behavior
All available planner plugins should only loaded once at the beginning of the process.

### Observed behavior
All available planner plugins were loaded every time when a new command started.

### Logfiles
[rosout.log](https://github.com/PilzDE/p

[2019-05-24 12:47] jschleicher commented on #169
Note that this only happens with the sequence capability. Sending command from RViZ through the standard move_group interface only loads the plugin once during initialization:

RViZ:
[code]

Python API for every single `robot.move` command:
[code]

[2019-05-28 13:14] #169 closed, assigned to nobody

[2019-06-06 11:09] hslusarek commented on #128
Yes. Close because not reproducible.

[2019-06-06 11:09] #128 closed, assigned to hslusarek

[2019-06-06 11:10] hslusarek commented on #102
Wait for backwards compatibility feature.

[2019-06-24 07:11] agutenkunst opened #176 "Reenable Panda Test"
The panda test was removed due to failures possibly related to
https://github.com/ros-planning/moveit/pull/1288

However it should be reintegrated or a customized 7-DOF Robot with IK-Fast planner should be used.

[2019-07-03 14:21] jschleicher opened #182 "Wait for current robot state takes longer than trajectory generation"
### Commit
binary package
`ii  ros-melodic-pilz-industrial-motion            0.4.3-0bionic.20190601.035050                   amd64`

### Steps to reproduce

1. `roslaunch prbt_moveit_config moveit_planning_execution.launch sim:=True pipeline:=pilz_command_planner`
2. increase logger_level of move_group to debu
3. start a plan (e.g. using RViz)

### Expected behavior
Planning starts immediately wit

[2019-07-03 14:31] jschleicher commented on #182
I see several options and are open for discussion:
1. From a single-point-of-control, the recorded robot state from the last plan-and-execute-request should still be the current robot state of the robot (we have a position-controlled robot so there is no motion, if we don't control it). What do you think of simply removing this wait-line in our SequenceCapability?

2. In a previous discussion the

[2019-07-08 15:09] dbakovic commented on #182
Will this still work when we enable the speed controller?

[2019-07-09 08:34] martiniil opened #185 "pilz_robot_programming tests fail on travis"
### Commit
11d3618371d7df8e4bc186c80cbf8bd773cc08c8

### Expected behavior
Tests are executed without error

### Observed behavior
Execution fails due to import error

### Logfiles

### Reference to test
pilz_robot_programming/test/integrationtests/tst_api_execution_stop.py

[2019-07-09 08:34] martiniil commented on #185
triggered by latest kinetic release of moveit. Related issue:
https://github.com/ros-planning/moveit/issues/1536

[2019-07-09 09:43] jschleicher commented on #185
Not a problem in pilz_robot_programming. Reported upstream. Closing here.

[2019-07-09 09:43] #185 closed, assigned to nobody

[2019-07-10 08:48] martiniil opened #186 "brake-test-demo: move to fixed position for braketest"

[2019-07-10 11:44] jschleicher commented on #182
We drop the `wait` for now and issue a warning, if the state is too old. I'm preparing a PR.

[2019-07-11 09:35] ct2034 opened #188 "Enhance docu for brake test"
The api docu of brake test should be enhanced

[2019-07-11 09:36] ct2034 commented on #188
The api docu of brake test should be enhanced

[2019-07-15 04:29] #186 closed, assigned to martiniil

[2019-07-15 13:13] jschleicher opened #191 "Umatching default velocity scales an accelerations"
While fixing unused variables, there were two default / max velocity scales and only one acceleratio scale. This leads to unmatching velocity/acceleration behaviour for PTP commands: (default vel: 1.0, default acc: 0.1).

There should be sensible defaults (probably while implementing operation mode speed changes).

_Originally posted by @jschleicher in https://github.com/PilzDE/pilz_industrial_mot

[2019-08-05 14:02] agutenkunst opened #193 "Migrate industrial_ci"
https://github.com/ros-industrial/industrial_ci/pull/361

[2019-09-26 05:10] dabhijeet opened #208 "fatal error: eigen3/Eigen/Eigen:"
Hello i downloaded the pilz_industrial_motion-kinetic-devel. When i am doing catkin_make i get the following error --

fatal error: eigen3/Eigen/Eigen: No such file or directory
compilation terminated.

I also tried doing the same in another laptop and this problem didn't occur there. I don't know why it is occurring in my Laptop.

[2019-09-26 05:22] martiniil commented on #208
@dabhijeet Did you install all dependencies? This is usually done with rosdep.

[2019-09-27 06:58] dabhijeet commented on #208
hello,
I tried these commads but nothing happened
sudo apt-get update
sudo apt-get upgrade
rosdep update
rosdep install --from-paths src --ignore-src --rosdistro=kinetic -y
then i opened Synaptic Package Manager and searched for eigen and selected everything for installation and the **error is gone**......
Now there is no problem during catkin_make

[2019-09-27 11:42] #208 closed, assigned to nobody

[2019-09-27 12:38] dabhijeet opened #210 "Integration with other robot"
Hello,

I was trying to integrate pilz_industrial_motion with our package. For that we changed the below parameters according to our robot

_DEFAULT_PLANNING_GROUP = "arm"
_DEFAULT_TARGET_LINK = "tcp"
_DEFAULT_GRIPPER_PLANNING_GROUP = "gripper"
_DEFAULT_BASE_LINK = "Link_1"

Also we commented the exceptions.py so that there won't be error related to BrakeTestErrorCodes.

But when we run
rosrun pil

[2019-09-30 05:34] martiniil commented on #210
When you start the move_group you have to specify our planner `pilz::CommandPlanner` and the capabilities `pilz_trajectory_generation/MoveGroupSequenceAction` and `pilz_trajectory_generation/MoveGroupSequenceService`.

See https://github.com/PilzDE/pilz_industrial_motion/blob/melodic-devel/pilz_trajectory_generation/README.md#using-the-command-planner

The `move_group.launch` for our robot shows h

[2019-09-30 10:02] dabhijeet commented on #210
Thanks....
Now it is working fine..

[2019-09-30 10:02] #210 closed, assigned to nobody

[2019-10-01 10:51] dabhijeet opened #211 "Issue in sequence command"
Hello,

I was testing the ptp, lin and sequence commands in kinetic with ompl planning. ptp and lin is working fine in my case but sequence command is not working..
When i run

    sequence = Sequence()
    sequence.append(Ptp(goal=[1, 0, 0, 1.57079632, 0, 0], vel_scale=0.4))
    sequence.append(Ptp(goal=[0, 1, 0, 1.57079632, 0, 0], vel_scale=0.4))
    r.move(sequence)

commands

the robot stops a

[2019-10-01 11:04] jschleicher commented on #211
The sequence needs a sequence capability that is included in `pilz_trajectory_generation` and thus only works with `pilz_command_planner` (not OMPL). See the tutorials [Move Robot with pilz_command_planner](https://wiki.ros.org/pilz_robots/Tutorials/MoveRobotWithPilzCommand_planner) and following for installation and usage of the planner.

[2019-10-03 03:45] dabhijeet commented on #211
yeah...sequence is not working with OMPL. With pilz_command_planner it is working fine...

[2019-10-03 03:45] #211 closed, assigned to nobody

[2019-10-04 05:55] dabhijeet opened #213 "Vibration in LIN"
Hello,

We integrated pilz_industrial_motion with our robot. All the functions are working fine like PTP, LIN, CIRC, Sequence and blend in real robot. The only issue we are getting now is vibrations while using LIN in the real robot. There is no vibration in PTP. When we use simulation we don't have vibration at all but in real robot we see vibrations in LIN.
We have kept the catesian limits as pe

[2019-10-04 08:13] nikitapurandare opened #214 "pause, resume , stop does not work with sequence command."
Hello,
While running Lin or Ptp commands, we observed that pause ,resume, play i.e
rosservice call /pause_movement
rosservice call /resume_movement
rosservice call /stop_movement
worked well with the robot. But when we used it with sequence commands we got the following output in the terminal :

[ INFO] [1570172166.302663050]: No root/virtual joint specified in SRDF. Assuming fixed joint
[ INFO] [

[2019-10-04 09:29] hslusarek commented on #214
Hello.
To answer your question directly: Right now the pause is not supported for a sequence command. You also see it on your terminal: `Pause not implemented for sequence yet`.
*Possible other solution:*
If you want to be able to pause your application at an arbitrary point of execution, I suggest you use only single commands in your application. If you only have certain movements which you want

[2019-10-04 09:34] hslusarek commented on #213
Hello,
are you using our [PRBT manipulator](https://www.pilz.com/en-GB/eshop/00108002327111/PRBT-manipulator-modules)?

[2019-10-04 11:03] nikitapurandare commented on #214
Yes ...
Thanks a lot .We just wanted to know if you are planning to include this feature and relative command in sequence .

[2019-10-04 11:19] dabhijeet commented on #213
No. We are not using PRBT manipulator.
Please find the rqt_graph of our system
![vibration_pilz_rqt_graph](https://user-images.githubusercontent.com/44795831/66203765-cedcca00-e6c6-11e9-92c1-4baae30f7bae.png)

[2019-10-04 11:25] gavanderhoorn commented on #213
Vibrations in robots can be caused by a number of different things, all of which would require different approaches.

You may have to provide a little more info on how you exactly "integrated pilz_industrial_motion with [y]our robot".

What sort of control interfaces are you using? How is it executing motion/trajectories coming from ROS? What sort of control system does it have? Is there any (low-

[2019-10-09 03:50] dabhijeet commented on #213
We are using **EtherCAT communication** and **Position Trajectory controller** for our robot. The robot is moving smoothly with **MoveIt Commander** (Python). For jogging we are using **jog_control** from https://github.com/tork-a/jog_control and the robot is jogging smoothly in joint as well as in linear.

We integrated with pilz_industrial_motion by
changing the below parameters according to our

[2019-10-09 12:21] #193 closed, assigned to dbakovic

[2019-10-09 13:07] agutenkunst commented on #182
@jschleicher ping

[2019-10-11 09:52] dabhijeet opened #218 "Configuring planner"
How can we configure pilz_command_planner?
(Like OMPL can be configured by changing ompl_planning.yaml)

[2019-10-11 11:50] jschleicher commented on #182
@agutenkunst There are more places which `waitForCurrentState`, e.g. [trajectory_execution_manager:1539](https://github.com/ros-planning/moveit/blob/062381c75847ab8dc68e022e8987ebf514c8484b/moveit_ros/planning/trajectory_execution_manager/src/trajectory_execution_manager.cpp#L1537-L1541), [trajectory_execution_manager.cpp:940](https://github.com/ros-planning/moveit/blob/062381c75847ab8dc68e022e898

[2019-10-11 12:40] #124 closed, assigned to nobody

[2019-10-15 06:48] agutenkunst commented on #218
Hi @dabhijeet ,
you need to load the capabilties
`pilz_trajectory_generation/MoveGroupSequenceAction pilz_trajectory_generation/MoveGroupSequenceService` and pass it to the move_group as arg.

Furthermore you need
https://github.com/PilzDE/pilz_robots/blob/melodic-devel/prbt_moveit_config/launch/pilz_command_planner_planning_pipeline.launch.xml placed in your moveit_config/launch folder.

If you s

[2019-10-17 04:41] dabhijeet commented on #218
Hi,
We have already loaded the above capabilities.
When we were using OMPL we got to know that each parameter of ompl_planning.yaml needed to be fine tuned in order to get rid of vibration and have smooth motion. (i.e. longest_valid_segment_fraction, maximum_waypoint_distance, max_sampling_attempts etc.)
But in pilz command planner there is cartesian_limits.yaml and start_state_max_bounds_error pa

[2019-10-22 13:10] ct2034 commented on #213
I think that the problem may lie in the controller of your robot. Lets give a bit of background: Our planners (both LIN and PTP) are using trapezoidal speed profiles. This means that they can produce high jerk values. This is normally not a problem, because it is the responsibility of the controller to limit these and to *smooth out* the motion.
Can you please help us reproduce your issue:

- How

[2019-10-24 06:22] dabhijeet commented on #213
- When we set vel_scale=0.1 and acc_scale=0.1 we get some vibrations in LINEAR and when we increase the vel_scale or acc_scale , the amplitude of vibration increases. Although there is no vibration in JOINT PTP motion even at high speed and acceleration.  There is one more observation that if we use OMPL instead of pilz_command_planner then we don't get the vibration in linear even at high velocit

[2019-10-29 09:56] jschleicher commented on #213
If this is only in LIN and not for PTP: What inverse kinematics solver do you use? Is there any option to increase the precision of solutions?

[2019-11-12 04:57] dabhijeet commented on #213
We are using TrackIK and there is no effect by changing the parameter of IK.

[2019-11-13 13:10] jschleicher commented on #213
To isolate controller vs. trajectory generation please have a look at the generated trajectory in `position_trajectory_controller/command`. Does that trajectory look smooth? Does it deviate from the joint_states during execution?

[2019-11-20 22:37] davetcoleman opened #228 "Merge into ros-planning/moveit repo?"
I think these new planners are really powerful, and the test coverage even more impressive. Is there interest in adding these planners to [moveit_planners](https://github.com/ros-planning/moveit/tree/master/moveit_planners/) alongside OMPL, SBPL, CHOMP, and TrajOpt?

[2019-11-21 12:49] ct2034 commented on #228
Thanks for the suggestion @davetcoleman! As I said in Macau, this sounds great to me but we have to discuss this internally and will get back to you next week.

[2019-11-25 05:51] #213 closed, assigned to nobody

[2019-11-25 07:48] gavanderhoorn commented on #213
@dabhijeet: did you solve the problem?

[2019-11-25 15:19] jschleicher opened #230 "0.4.8 breaks integrationtest using pilz_industrial_motion"
### Commit
ros-testing packages used inside docker image moveit/moveit:moveit-master-source

### Steps to reproduce
Integrationtest: starting from pilz_templates a fake_joint_driver is used to get simulated joint_states within ros_control. Out integrationtest passing on friday now fails.
See failing [travis job](https://travis-ci.org/PilzDE/pilz_teach/jobs/616652548)

### Expected behavior
Test pa

[2019-11-26 13:35] jschleicher commented on #230
https://github.com/PilzDE/pilz_industrial_motion/blob/766c606d1b13d08f6f4a7731e99902011e617b2f/pilz_robot_programming/test/integrationtests/integrationtest_self_collision.test#L41

`fake_speed_override_node` seems to be always necessary, when starting `moveit_planning_execution.launch` with `sim:=True`? Then I'd suggest to add it there directly. Or you pass the `sim` argument as parameter to the p

[2019-11-28 08:18] #230 closed, assigned to martiniil

[2019-12-03 04:31] CiRA-AMI opened #234 "Move continue (trapezoidal profile) between points in Sequence"
I try to use Sequence move. but I see robot slow down between points even though I use blend radius. Can we generate trajectory of sequence by keep velocity between points ?

best regard

[2019-12-09 11:15] #234 closed, assigned to nobody

[2020-01-13 01:27] CloudYin opened #235 "Trigger another robot movement process via sensor signals"
**Is your feature request related to a problem? Please describe.**
In the laser scanner callback function, I want to implement a code that the robot move in a new path after an area of scanner is intruded. If I use some move command in scanner callback function. A RobotMoveAlreadyRunningError error will appear:

[ERROR] [1578287684.790064]: bad callback: <function laser_scan_callback at 0x7f011a5c

[2020-01-13 13:26] agutenkunst commented on #235
Hi!
We (@agutenkunst  and @hslusarek ) had a look at it and can provide you with a "hacky" solution for now
[code]
please note that this is really a hack skipping all checks that exist for various reasons.

We will try to find a more comprehensive solution to allow such parallel and reactive behavior via python API!

Please let us know if this solution works for you for now.

[2020-01-15 01:33] HiddenBug opened #236 "Allow joint configurations to be defined in degree"
### Observed behavior
Test with the real system and start-up engineers have shown that it is unintuitive for "normal" robot users to specify a joint configuration using rad instead of degree. Furthermore, it is confusing for "normal" robot users to "guess" the unit in which a certain number is expressed. The code should express the unit which is used.

### Expected behavior
I expect the PythonAPI

[2020-01-15 08:53] gavanderhoorn commented on #236
As an external observer here: ROS uses radians for all angles (REP-3). Many robot OEMs have different conventions for their (joint) pose formats (degrees, radians, millimetres, metres, euler angles, quaternions, axis-angle, etc).

It's not so unexpected that degrees are not used in my opinion, but it should be clearly documented. This would seem like a normal thing for users to need to get familia

[2020-01-19 05:11] CloudYin commented on #235
Dear both (@agutenkunst and @hslusarek) ,

here is my test code:
[https://github.com/CloudYin/psen_scan_application/blob/master/scripts/psen_scan_application.py](url)

when debugging the following error appeared:

pilz@pilz:~/catkin_ws$ rosrun psen_scan_application psen_scan_application.py
  File "/home/pilz/catkin_ws/src/psen_scan_application/scripts/psen_scan_application.py", line 40
    self._s

[2020-01-19 08:11] CloudYin commented on #235
Dear both  (@agutenkunst and @hslusarek ), here are my test scripts:
[https://github.com/CloudYin/psen_scan_application/tree/master/scripts](url)

I made a following test:
1. First run the robot_application.py. In a new terminal call the /move_path_B or /continue_move_path_A, both functions passed.
2. Then run the psen_scan.py. Try to call both services in the scanner callback, failed and triggere

[2020-02-04 21:10] agutenkunst commented on #235
hi @CloudYin
seems the second parameter of `'wait_for_service` is the timeout you want to wait for the service.

See also
http://docs.ros.org/api/rospy/html/rospy.impl.tcpros_service.ServiceProxy-class.html
you provide "Trigger" which is a type. Either provide just one parameter to wait infinitely or put e.g. 0.5 to wait 0.5 seconds for the service.

[2020-02-05 07:34] garyedwards opened #238 "Document how to set default commands private variables, _DEFAULT_TARGET_LINK, _DEFAULT_BASE_LINK etc."
**Is your feature request related to a problem? Please describe.**

I am trying to use the Pilz path planner with an ABB robot.  At the moment I can not find a way to initialise the commands object with different values for `_DEFAULT_PLANNING_GROUP = "manipulator" _DEFAULT_TARGET_LINK = "prbt_tcp" _DEFAULT_GRIPPER_PLANNING_GROUP = "gripper" _DEFAULT_BASE_LINK = "prbt_base"` etc.

This seems quite

[2020-02-05 09:56] garyedwards commented on #238
These test scripts are a very handy ref:

https://github.com/PilzDE/pilz_industrial_motion/tree/melodic-devel/pilz_trajectory_generation/test/test_robots

[2020-02-05 11:06] garyedwards commented on #238
OK the `testpoints.py` file linked above answered my questions.  I still think this is an area were the documentation could be improved.  I will close this issue and hopefully it will help others find the above useful directory.

[2020-02-05 11:06] #238 closed, assigned to nobody

[2020-02-05 18:02] agutenkunst opened #240 "Documentation generation broken due to missing import"
This contributed to https://github.com/PilzDE/pilz_industrial_motion/issues/238
and should be fixed with https://github.com/PilzDE/pilz_industrial_motion/pull/239

### Commit
14e33ce396f94987b65fd721ed718f4cb421da4b / 0.4.10

### Steps to reproduce
`rosdoc_lite .`
throws
[code]

and e.g. doc/html/genindex.html is empty.

Also fails on buildfarm
http://build.ros.org/job/Mdoc__pilz_industrial_motion

[2020-02-05 18:08] agutenkunst commented on #238
hi @garyedwards thanks for reaching out to us.
Our buildjob for pilz_robot_programming is currently broken and thus the documentation was incomplete. Sorry for this.

But even with a proper documentation I agree that we should have a look into the documentation of these features.

[2020-02-05 18:21] agutenkunst opened #241 "pilz_robot_programming documentation of private classes is missing"
### Commit
e11efa059f44bb3402770cae2ab56d7b46dccd48
Note that: #239 is needed for proper documentation generation

### Description
If a class has a underscore prefix no documentation is generated for it.
Thus e.g. `_BaseCmd` has no documentation generated.
This can cause things like #238

Maybe @tfoote or @jobleier have any input on this?

[2020-02-06 08:44] #240 closed, assigned to nobody

[2020-02-06 16:39] agutenkunst commented on #241
I am not able to figure out some decent way and therefore would suggest a rename `_BaseCmd` to `BaseCmd` @hslusarek your opinion?

[2020-02-11 07:39] CloudYin commented on #235
Hi Alex @agutenkunst

Thanks for the correction. To simplify the test I deleted the wait_for_service call and updated the script:
[https://github.com/CloudYin/psen_scan_application/blob/master/scripts/psen_scan.py]
The execution is ok, however it causes a big delay in executing the pause/resume trigger. I think because I put both of them in the laser scan callback function, so that it repeatedly e

[2020-02-17 15:33] agutenkunst commented on #235
You could try react only on "Flips" in the distance. That would require to store the last distance value and compare it to the current value. If the distance "flipped" trigger the service call. Please let me know if this works for you.

[2020-02-17 16:08] hslusarek commented on #241
I think your suggestion to rename `_BaseCmd` to `BaseCmd` is ok. Maybe at one point or another an external programmer wants to add to our commands and then this change might also come in handy.

[2020-02-20 07:47] martiniil opened #248 "Upcoming Melodic Release"
Should I wait for #237 to be merged? It looks like it is almost ready?
@agutenkunst @jschleicher @rfeistenauer

[2020-02-20 12:24] jschleicher commented on #248
@martiniil Yep, please wait for #237 before you release - we need that to continue in pilz_teach.

[2020-02-21 06:20] CloudYin commented on #235
Thanks Alex that works.
Now the sequence move in path B is successful. But if I put the movement in a while loop in path B, such as:

while not rospy.is_shutdown():
    r.parallelMove(Ptp(goal=[0, 0, 0, 0, 0, 0], vel_scale=0.4))
    r.parallelMove(Ptp(goal=[0.1, 0, 0, 0, 0, 0], vel_scale=0.4))

then it cannot go back to path A anymore.

[2020-02-24 13:01] martiniil opened #251 "Remove member robot_ from commands"
See: https://github.com/PilzDE/pilz_industrial_motion/pull/237#discussion_r374143742

Robot object should neither be passed around nor set as a member object of cmds.

[2020-02-27 19:38] #241 closed, assigned to agutenkunst

[2020-02-28 14:15] jschleicher commented on #160
Fixed in #237.

[2020-02-28 14:15] #160 closed, assigned to nobody

[2020-03-06 15:25] ct2034 commented on #176
Enabled it again in https://github.com/ros-planning/moveit/pull/1893

[2020-03-10 07:43] #163 closed, assigned to nobody

[2020-03-11 14:47] #251 closed, assigned to nobody

[2020-04-01 16:57] ipa-mrf opened #257 "Planner does not seem to recognize the cartesian limits"
Hello,

I am trying to use the PTP planning algorithm via ROS/RVIZ on another MoveIt configuration than the PRBT one. As everything works with the OMPL planner delivered with MoveIt, I assumed that there is no basic mistake within my moveit_config files.
In order to use the Pilz planners, I have made the necessary changes within my configuration, in particular also to add the cartesian limits yaml

[2020-04-02 07:58] martiniil commented on #257
The error message indicates that joint limits are missing.

Can you check your joint limits configuration?
For an example see: https://github.com/PilzDE/pilz_robots/blob/melodic-devel/prbt_moveit_config/config/joint_limits.yaml

[2020-04-02 10:02] ipa-mrf commented on #257
Thank very much, this resolved the issue.
In the joint_limits.yaml, the `has_acceleration_limits` values of each joint were set to false. The planner now operates as expected.

[2020-04-02 10:02] #257 closed, assigned to nobody

[2020-04-20 08:48] jschleicher commented on #236
That's why we suggest `math.radians` inside [prbt_default_application](https://github.com/PilzDE/pilz_application_templates/blob/497306052d37ac0603673af2f2f35ddc2beaaadd/prbt_default_application/scripts/myApplication.py#L22-L23):

[code]

So I agree with @gavanderhoorn that this is mostly a documentation issue. @HiddenBug Would you mind, preparing a PR for the demo program and Readme here, demonst

[2020-04-20 08:50] jschleicher commented on #218
Probably solved after #213.

[2020-04-20 08:50] #218 closed, assigned to agutenkunst

[2020-04-21 09:00] ct2034 opened #258 "Rename commands in srv/GetMotionSequence.srv"
- [x] in msg file
- [x] and in the code (!)
https://github.com/ros-planning/moveit_msgs/pull/65#discussion_r411360221

[2020-04-21 09:02] ct2034 opened #259 "Convert tex to rst"
https://github.com/ros-planning/moveit/pull/1893#discussion_r411236384
https://pandoc.org/demos.html

[2020-04-21 09:03] ct2034 opened #260 "Clean CMakeLists"
https://github.com/ros-planning/moveit/pull/1893#discussion_r409200407

[2020-04-21 09:08] ct2034 opened #261 "Announcement (together with Pilz PR)"
- [ ] Pilz social media
- [ ] together with picknik
- [ ] discourse.ros.org

[2020-04-21 09:14] ct2034 opened #262 "Acceptance tests"
https://github.com/PilzDE/moveit/tree/pilz_planner_merge/moveit_planners/pilz_industrial_motion_planner/test/acceptance_tests

[2020-04-22 10:04] SansoneG opened #263 "Python API segmentation fault"
### Commit
59f80849ff

### Steps to reproduce
1. Execute demo_program.py

### Observed behavior
Everything is excecuted as expected, but at the end segmentation fault is reported.

### Logfiles
[code]

[2020-04-22 17:19] ct2034 commented on #263
Thanks Guiseppe. I assume you also started a launchfile for the robot and moveit. Could you please also add details on that.

[2020-04-23 07:06] SansoneG commented on #263
I ran `roslaunch prbt_default_application my_application.launch sim:=false`

Should probably check if this also happens in simulation

[2020-04-23 07:39] martiniil commented on #263
I did a quick check. I ran:
[code]
and
[code]

The output was exactly the same as above.

[2020-04-23 15:29] ct2034 opened #264 "Our software should be production ready"
There is a feature in ros-industrial to indicate the development state (Production ready / Developmental / Experimental) of software on its wiki page (https://wiki.ros.org/Industrial/Software_Status)
I think we should include this in our wiki pages http://wiki.ros.org/pilz_robots. What do you think? @PilzDE/robotics

[2020-04-23 16:10] #260 closed, assigned to ct2034

[2020-04-23 16:10] #259 closed, assigned to ct2034

[2020-04-24 10:47] dbakovic commented on #264
I like the idea

[2020-04-25 08:18] jschleicher opened #265 "MoveitMerge CI: Unused variable"
### Commit
https://travis-ci.org/github/ros-planning/moveit/jobs/678710080

[code]

[2020-04-29 12:04] agutenkunst commented on #235
@jschleicher Could you help formulate this into a feature request to help @CloudYin ?

[2020-04-30 07:52] #258 closed, assigned to ct2034

[2020-04-30 12:06] ct2034 opened #266 "Solving problems with sequence tests"

[2020-04-30 12:07] ct2034 opened #267 "Make master branch buildable under kinetic"
In the moveit merge, test are failing under kinetic
https://travis-ci.org/github/ros-planning/moveit/jobs/681443052#L10828

[2020-05-01 09:08] #265 closed, assigned to martiniil, SansoneG

[2020-05-01 18:10] jschleicher commented on #267
Does that help? https://github.com/ros-planning/moveit/pull/1893#issuecomment-622144021

[2020-05-01 21:50] ct2034 commented on #267
At the moment I think it is our tests that are failing but it is not possible to get information out of Travis to see why they are failing exactly, just that they are producing no test results. I will try to reproduce this with a kinetic setup

[2020-05-01 22:17] jschleicher commented on #267
maybe our tests, maybe not: https://github.com/ros-planning/moveit/issues/2042

[2020-05-03 19:58] jschleicher commented on #267
For instructions to run kinetic in a docker container see https://github.com/ros-planning/moveit/pull/2031#issuecomment-622164655.

Maybe the kinematics solver is missing: prbt_ikfast_manipulator_plugin probably should be added to the build (e.g. via moveit.rosinstall or moveit_resources?), to match the SONAME version of moveit core / master.

[2020-05-04 07:53] #266 closed, assigned to ct2034

[2020-05-04 12:00] hslusarek commented on #264
I'm support this suggestion. However, I'm not sure to what you refer here. Do you refer to a certain release-tag on our git repositories, to the most recent commit on the devel branches or to a certain release of one of our packages? @ct2034

[2020-05-12 08:19] hslusarek opened #270 "Code review"

[2020-05-12 08:22] hslusarek opened #271 "Move files from repo pilz_teach to new package in pilz_industrial_motion"
For deletion of files in `pilz_teach` see PR: PilzDe/pilz_teach#59
For new package see PR: PilzDe/pilz_industrial_motion#282

Move the following files:
- [x] [ros_message_serializer.py](https://github.com/PilzDE/pilz_teach/blob/melodic-devel/pilz_teleoperation/src/pilz_teleoperation/ros_message_serializer.py)
- [x] [store_current_pose.py](https://github.com/PilzDE/pilz_teach/blob/melodic-devel/pil

[2020-05-12 08:35] hslusarek opened #272 "Test review"

[2020-05-12 08:38] hslusarek opened #273 "Document ROS-API/ document new services"
The new services which are part of the ROS-API have to be documented in the README.md of the newly created package.

[2020-05-12 08:41] hslusarek opened #274 "Update changelogs"

[2020-05-12 08:44] hslusarek opened #275 "Integrate PyTest coverage in Travis-CI"
Currently the coverage can only be run manually via [run-coverage.sh](https://github.com/PilzDE/pilz_teach/blob/melodic-devel/pilz_teleoperation/test/unittests/run-coverage.sh). In this task the coverage has to be included into the CI.

[2020-05-12 08:48] hslusarek opened #276 "Define new API for storage of position"
## Example
1. terminal:
[code]

2. terminal:
[code]

[2020-05-12 08:51] hslusarek opened #277 "Implement new API based on Issue #276"
In this task the Issue #276 has to be implemented.

[2020-05-12 08:54] hslusarek opened #278 "Review documentation"

[2020-05-12 08:59] hslusarek opened #279 "Integrate new node into overall architecture diagram"
See for example:
[diag_comp_overall_architecture.png](https://github.com/PilzDE/pilz_robots/blob/melodic-devel/prbt_hardware_support/doc/diag_comp_overall_architecture.png)

[2020-05-12 09:02] hslusarek opened #280 "Implement tests"
Implements the following tests:
- [ ] Unit tests
- [ ] Integration tests
- [ ] Acceptance tests

[2020-05-12 09:14] rfeistenauer opened #281 "Create PR for store_points branch"
Create an PR adding the Definition of Done for the Feature.

[2020-05-14 09:57] hslusarek commented on #271
@rfeistenauer What about [pose_file_tf_publisher.py](https://github.com/PilzDE/pilz_teach/blob/melodic-devel/pilz_teleoperation/src/pilz_teleoperation/pose_file_tf_publisher.py)? We also moved this file because it is only used in the already moved files.

[2020-05-14 11:34] rfeistenauer commented on #271
Yes, it should stay with the store points feature.

[2020-05-14 13:58] martiniil opened #283 "Run python unit tests with pytest"

[2020-05-14 14:35] #283 closed, assigned to nobody

[2020-05-18 12:50] martiniil commented on #276
If the `name`-argument is not specified, the teached positions/joints are named with a counter.

[2020-05-18 12:51] martiniil commented on #276
A file is created in the current directory/relative/absolute path. If the file already exists, it is overwritten.

[2020-05-18 13:01] martiniil commented on #276
@jschleicher Should a gripper joint be included in the stored joints?

[2020-05-18 14:14] #276 closed, assigned to martiniil

[2020-05-19 13:12] SansoneG opened #285 "Fix clang-tidy errors according to moveit ci"
See:
https://travis-ci.org/github/ros-planning/moveit/jobs/681624717

Please implement the fixes in:
https://github.com/PilzDE/moveit/tree/pilz_planner_merge-clang_tidy_fixes

[2020-05-19 13:17] SansoneG opened #286 "Add prbt_moveit_config to moveit_resources"
Please use this branch: https://github.com/PilzDE/moveit/tree/pilz_planner_merge-moveit_resources

- [ ] Add to https://github.com/ros-planning/moveit_resources
- [ ] Adapt https://github.com/ros-planning/moveit/pull/1893 to reference new moveit_resource package

[2020-05-19 13:20] SansoneG opened #287 "split moveit_resources into packages (instead of subdirectories)"
- [ ] Split all moveit_resource subfolders into packages (not just prbt ones)
- [ ] Separate PR from #286

[2020-05-19 13:20] ct2034 opened #288 "Set controller configuration execution mode to "last point" -> hopefully half the build time"
Use this feature http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/fake_controller_manager/fake_controller_manager_tutorial.html

Please use this branch: https://github.com/PilzDE/moveit/tree/pilz_planner_merge-moveit_resources

- [ ] Decide which tests this makes sense for
- [ ] Decide how to configure `type: interpolate | via points | last point`
- [ ] Check correctness of tests
- [ ] Im

[2020-05-19 13:26] agutenkunst opened #289 "Add CI-coverage for pytest"
# Code Coverage for pytest with ROS

## Goal
Create coverage for pytest using ROS

## How is this working with unittests?

A python unittest is added to the CMakeLists.txt using
[code]
where the CMake-Macro is defined in [https://github.com/ros/catkin](https://github.com/ros/catkin/blob/dfc93c72d9799f57442d08c2f6e9fd494bba95c1/cmake/test/nosetests.cmake#L59)

here to macro checks for the environme

[2020-05-19 13:37] #281 closed, assigned to nobody

[2020-05-19 13:40] martiniil opened #290 "https://github.com/PilzDE/pilz_teach/pull/59"

[2020-05-19 13:42] #290 closed, assigned to nobody

[2020-05-19 13:46] martiniil opened #291 "Get PO approval: Store single position"

[2020-05-19 13:55] martiniil opened #292 "Complete DOD: Store single position"
## Documentation
* [x] Public api function documentation (sphinx/doxygen are [autogenerated online](http://docs.ros.org/melodic/api/pilz_robots/html/) with diagrams embedded)
* [x] ~[Tutorials](https://wiki.ros.org/pilz_robots/Tutorials/)~ new PBI?
* [x] Overview on [ROS wiki](https://wiki.ros.org/pilz_robots)
Insert at 4.1
[code]
* [x] Package Readme ([example pilz_robots](https://github.com/Pilz

[2020-05-25 07:22] hslusarek commented on #289
I opened a draft PR  machinekoder/ros_pytest/pull/6 which should take care of the coverage for the py_test framework.
To integrate the py_test in our overall Travis-CI concept no further steps should be necessary except for the ros/rosdistro/pull/24929 which is already merged.

[2020-05-25 07:59] hslusarek commented on #289
Currently the [mikeferguson/code_coverage#L175](https://github.com/mikeferguson/code_coverage/blob/master/cmake/Modules/CodeCoverage.cmake#L175) creates a xml file for the python coverage. For the cpp part a html is created, therefore, I suggest to also create a html report instead of a xml report for the python coverage.

Furthermore, to be able to remove the [`add_python_coverage`](https://githu

[2020-05-25 09:17] hslusarek commented on #289
Sequence-diagram showing how the cmake-macro [`add_code_coverage`](https://github.com/mikeferguson/code_coverage/blob/master/cmake/Modules/CodeCoverage.cmake) works.

![diag_act_code_coverage_call_sequence](https://user-images.githubusercontent.com/40654276/82799341-32944d00-9e7a-11ea-9d1d-0349343cffc7.png)

[2020-05-25 09:58] martiniil opened #293 "User can disable speed override via Python API"
### Commit
831fce5c230a07c54e7db9f770adc8f436e1d533

### Steps to reproduce
Start real robot. Switch into operation mode T1.
Command a movement (e.g. PTP) through the Python API. Choose velocity scale `10`.

### Expected behavior
No movement should be executed. An error message should be displayed, like e.g. "Invalid velocity scale"

### Observed behavior
**(Still to be validated with the real rob

[2020-05-25 18:13] agutenkunst commented on #293
imho velocity scale > 1 should not be allowed

See http://docs.ros.org/melodic/api/pilz_robot_programming/html/#move

[2020-05-25 18:19] agutenkunst opened #295 "Fix coverage of new package pilz_store_positions"
I added the coverage check to the CI here https://github.com/PilzDE/pilz_industrial_motion/commit/0b7b20e30b3ae6653c4933987814641ee9d171f7

but since the coverage is below 100% this fails. Thus there are some extensions to the tests needed so that we get a green light.

@saheinisch @cdoehn
Could you take care of this?

Active working branch: https://github.com/PilzDE/pilz_industrial_motion/tree/fe

[2020-05-26 15:27] agutenkunst commented on #295
Seems that some of this was due to a bad coverage generation. See https://github.com/PilzDE/industrial_ci_addons/issues/1 and https://github.com/PilzDE/pilz_industrial_motion/commit/f59810ee82046c73ace2829be2d4e07fce39fda5 and https://github.com/PilzDE/pilz_industrial_motion/commit/f1dd698d293fa2501750e2fb65bf9ce68def8805

[2020-05-28 13:09] SansoneG opened #297 "Error when executing `rosrun pilz_robot_programming acceptance_test_brake_test.py`"
### Commit
5ed0315f4fa

### Steps to reproduce
How can the issue/bug be reproduced?
Follow steps as described in https://github.com/PilzDE/pilz_industrial_motion/blob/melodic-devel/pilz_robot_programming/test/acceptance_tests/acceptance_test_brake_test.md

### Expected behavior
https://github.com/PilzDE/pilz_industrial_motion/blob/melodic-devel/pilz_robot_programming/test/acceptance_tests/acceptan

[2020-05-28 13:58] hslusarek opened #298 "Review + Merge PR #59 on pilz_teach"
- The following PR needs to be reviewed and merged PilzDE/pilz_teach#59.

[2020-05-28 14:00] hslusarek opened #299 "Review PR#282 on pilz_industrial_motion"
- The following PR needs to be reviewed and merged: PR #282

[2020-05-28 14:07] #271 closed, assigned to ct2034, hslusarek, cdoehn

[2020-05-28 14:28] ct2034 opened #300 "unittest_trajectory_blender_transition_window fails in moveit merge"
See https://travis-ci.org/github/PilzDE/moveit/builds/692126846

What I tried so far:
* No reproducible when building with catkin locally
* Reproducible when running in moveit_ci locally with:
[code]

Tipp: When this docker image is finished running (assuming the test also failed there, find its name with `docker ps -a`, it will probably be the latest one, probably on the top of the list), you can

[2020-06-01 14:26] agutenkunst commented on #295
Done

[2020-06-01 14:26] #295 closed, assigned to saheinisch, cdoehn

[2020-06-01 21:04] #299 closed, assigned to agutenkunst

[2020-06-01 21:05] agutenkunst opened #301 "Merge PR#282 into melodic-devel"
Is waiting for #291

[2020-06-01 21:07] agutenkunst commented on #292
Waiting for #291

[2020-06-01 21:09] agutenkunst opened #302 "Melodic release after merging #282"
Release after merging PR #282

[2020-06-02 07:15] agutenkunst commented on #291
Done see https://github.com/PilzDE/pilz_industrial_motion/pull/282#pullrequestreview-422397723

[2020-06-02 07:15] #291 closed, assigned to nobody

[2020-06-02 07:17] #301 closed, assigned to agutenkunst

[2020-06-09 09:19] jschleicher commented on #280
outdated. Closing.

[2020-06-09 09:19] #280 closed, assigned to nobody

[2020-06-09 09:19] jschleicher commented on #279
outdated. Closing.

[2020-06-09 09:19] #279 closed, assigned to nobody

[2020-06-09 09:19] jschleicher commented on #278
outdated. Closing.

[2020-06-09 09:19] #278 closed, assigned to nobody

[2020-06-09 09:19] jschleicher commented on #277
outdated. Closing.

[2020-06-09 09:19] #277 closed, assigned to nobody

[2020-06-09 09:19] jschleicher commented on #274
outdated. Closing.

[2020-06-09 09:19] #274 closed, assigned to nobody

[2020-06-09 09:19] jschleicher commented on #272
outdated. Closing.

[2020-06-09 09:19] #272 closed, assigned to nobody

[2020-06-09 09:20] jschleicher commented on #273
outdated. Closing.

[2020-06-09 09:20] #273 closed, assigned to nobody

[2020-06-09 09:20] jschleicher commented on #270
outdated. Closing.

[2020-06-09 09:20] #270 closed, assigned to nobody

[2020-06-09 09:24] jschleicher commented on #275
Duplicate of #289. Closing here.

[2020-06-09 09:24] #275 closed, assigned to agutenkunst

[2020-06-09 09:25] jschleicher commented on #262
outdated. Closing here.

[2020-06-09 09:25] #262 closed, assigned to nobody

[2020-06-09 09:26] jschleicher commented on #261
outdated. Please re-open, when relevant.

[2020-06-09 09:26] #261 closed, assigned to tobi-v

[2020-06-09 09:31] jschleicher commented on #287
Opened issue upstream. Closing here.

[2020-06-09 09:31] #287 closed, assigned to nobody

[2020-06-09 09:32] jschleicher commented on #248
outdated. Closing.

[2020-06-09 09:32] #248 closed, assigned to nobody

[2020-06-19 10:15] #292 closed, assigned to nobody

[2020-06-19 10:15] #298 closed, assigned to cdoehn

[2020-06-22 14:30] SansoneG opened #311 "Planner plans trajectories that exceed acceleration limit."
### Commit
cb782c272ee6

### Steps to reproduce
How can the issue/bug be reproduced?
1. Switch into AUTO mode
2. Use RViz to plan a movement with velocity- and acceleration scaling 1.0.
3. Execute the movement.

### Expected behavior
Planning and Executing works without error.

### Observed behavior
Planning works, but executing fails. The robot doesn't even start moving.

### Logfiles
[code]
###

[2020-06-30 06:59] martiniil commented on #311
@jschleicher @hslusarek I would like to discuss if we could skip the stop trajectory completely and let the firmware do the stopping. Then we would not need the acceleration limit, either.

[2020-06-30 07:16] jschleicher commented on #311
I'm not sure if, the firmware offers a stopping command in the meantime. My latest information is, that "halt" does close the brakes and thus wears out the mechanics, which has only limited numbers of "STOP-0" cycles.

[2020-06-30 07:21] martiniil commented on #311
But if we abort the trajectory and stay on the latest position, the firmware will stop the movement asap without closing the brakes?

[2020-06-30 11:23] hslusarek commented on #311
I'm not sure if I understand your suggestion correctly, because your suggestion will cause a massive jerk if the robot moved with full speed beforehand. For me, a strong/massive jerk does not sound good, especially with regard to the mechanical components of the robot. But maybe I misunderstand your suggestion?

[2020-06-30 11:47] martiniil commented on #311
Yes, you understood correctly. But:
- As far as I remember, the firmware is responsible for avoiding damage to the mechanics. Maybe I'm wrong? Do we have to avoid some kind of "jerk"? Then we lack clear requirements on the controller. Even now, it is very easy to command motions, which result in such jerks.
- In our case, the robot would not be allowed to move with full speed, only reduced.

[2020-06-30 12:28] jschleicher commented on #311
The joint values sent by the controller should obey the joint limits for both velocity and acceleration. That's what the configuration values are meant for.

But this issue is about planned trajectories that violate the acceleration limit in the controller - is there any connection to the stop trajectory, that I'm missing? Or is your suggestion independent from our current issue?

[2020-06-30 12:53] martiniil commented on #311
My suggestion is connected to the current issue, because I questioned the acceleration limit which was only introduced due to a poor stop trajectory. I know, I question a lot...
But it is answered now. Thank you.

[2020-07-01 13:14] hslusarek commented on #311
I think this is a good quality for a developer. :+1:

[2020-07-07 15:13] jschleicher commented on #264
Related: https://www.ros.org/reps/rep-2004.html

[2020-07-08 13:13] martiniil commented on #263
Found another error which is reported at the end of the script:
[code]

[2020-07-09 07:33] martiniil commented on #263
There seems to be a problem with the destruction of the robot object. I created a minimal example:

Approx. 4 failures (segfault) out of 10 runs. No failures if you remove the `__del__` method.
[code]

[2020-07-09 09:57] martiniil commented on #263
[code]

[2020-07-09 10:20] martiniil commented on #263
Conclusion from 2020-07-09:
- Report an issue in ros_comm? with above code example and backtrace. Is the segfault due to faulty destruction during ros shutdown?
- Introduce public `close`/`release` method for `Robot` class and/or recommend using `with`-statements in order to ensure proper destruction of `Robot` objects.

[2020-07-09 12:17] rfeistenauer commented on #263
It seems like calling `del` on the `RobotCommander` in the `on_shutdown` callback (`rospy.on_shutdown(cb)`) prevents the segfault

[2020-07-09 12:34] agutenkunst commented on #263
Strange that this service is needed to trigger the issue.

For me it sound like an issue with the Subscriber listening to /joint_states is not properly shut down....

[2020-07-10 13:45] martiniil commented on #311
This is the desired velocity the controller produces from a PTP trajectory. You can see that the acceleration varies at the beginning:

![ptp_acceleration_limit_violation](https://user-images.githubusercontent.com/35950815/87160977-24807b80-c2c4-11ea-8336-c1e9e3386fca.png)

[2020-07-10 14:24] martiniil commented on #311
I think the trajectories which are generated by the planner do not violate the limit. But through its interpolation routine the controller can slightly deviate from the intended trajectory.

I see possible solutions:
- Increase the limit for the controller/Decrease limit for planners (how much?)
- Tweak the planners. Some aspects:
  - Is it really necessary/helpful to specify velocities/accelerati

[2020-07-13 08:26] jschleicher commented on #311
The first option sounds like a quick fix. So I'd prefer to increase the limit inside the controller by 5-10% for now. I'll add a PBI to determine the actual limits to achieve 250mm/s incl. the delay.

[2020-07-13 08:42] ct2034 commented on #311
@SansoneG can you please elaborate on the original issue: You are in Auto mode, right? Then we should not care about the limits.

[2020-07-13 09:17] SansoneG commented on #311
Yes, the behaviour was observed in AUTO mode. The acceleration and velocity limits imposed by the robot hardware should not be exceeded even in AUTO mode. I think this is what was meant [here](https://github.com/PilzDE/pilz_robots/issues/418#issuecomment-651759617).
But by planning a movement with seemingly accepted acceleration values, the controller stops the movement. That is the issue.

[2020-07-13 11:03] #263 closed, assigned to jschleicher

[2020-07-13 11:09] ct2034 commented on #311
Yes, the planner planning a trajectory that not violates the limits is one thing. We use the speed override for this: https://github.com/PilzDE/pilz_robots/blob/81b2dff62e9142139850a58e718d13d5355cfb97/prbt_hardware_support/src/operation_mode_setup_executor.cpp#L43

But I think we do not evaluate the operation mode when checking the acceleration limit: https://github.com/PilzDE/pilz_robots/blob/81

[2020-07-13 11:14] SansoneG commented on #311
I understand where you are coming from now.
If I understand correctly we cannot simply ignore the acceleration limit in AUTO mode, because the acceleration limit also serves the purpose of not allowing crazy stop trajectories.

[2020-07-13 12:38] #302 closed, assigned to nobody

[2020-07-14 07:15] martiniil commented on #311
The purpose of setting the speed override to `0.1` is limiting the cartesian speed in T1. The acceleration limit is another matter. It should never be violated such that the hardware is not damaged.

[2020-07-14 07:26] martiniil commented on #311
The quick fix should work for now. Imho the time and effort we would spend in determining "good" limits (I think it is not straightforward) would be better invested in a proper solution.

[2020-07-14 07:57] ct2034 commented on #311
Okay, I got it. Thanks

[2020-07-16 10:13] martiniil commented on #311
For better understanding this picture shows the desired joint velocity of a single joint at the beginning of a PTP trajectory (Acceleration limits disabled).

The acceleration with which the trajectory is planned is exceeded in the first segment.

![ptp_acceleration_limit_violation_detailed](https://user-images.githubusercontent.com/35950815/87658554-a822e800-c75c-11ea-8c8a-689c0bc35994.png)

[2020-07-16 10:46] martiniil commented on #311
@jschleicher For the demo program we need more than 100% increase of the limit inside the controller. See https://github.com/PilzDE/pilz_robots/pull/442

[2020-07-21 04:32] #235 closed, assigned to jschleicher

[2020-07-23 08:25] martiniil commented on #311
LIN trajectory with acceleration scale `0.1`:
![lin_acceleration_limit_violation](https://user-images.githubusercontent.com/35950815/88265999-ba59d480-ccce-11ea-8135-bb4736cc1c86.png)

[2020-07-23 08:46] martiniil commented on #311
The oscillations shown above happen for LIN and CIRC.

I guess the crucial point is the computation of the velocities in the trajectory points. For PTP the velocities are obtained directly from the trapezoidal profile. Opposed to that, LIN and CIRC are planned in cartesian space, the positions are transformed via the inverse kinematic and the velocities are computed as follows:
https://github.com/

[2020-08-21 10:24] titouanlh opened #314 "No ik solution error"
Hi,
First, i'd like to thank you for your hard work around this project.
I tried to implement your trajectory generation package as a command planner.
I followed the following steps :

-  Added the pilz capabilities to my move_group launchfile
- Set the planning pipeline to pilz_command_planner_planning_pipeline in my move_group launchfile
- Loaded joint and cartesian limits in the param server

W

[2020-09-08 12:56] hslusarek commented on #314
Hello,

thanks for reaching out.

I tried to reproduce your problem. Before I go into more details, I wanted to ask something to one of the lines you wrote.
You wrote:
[code]
I noticed that you wrote `"planner_plugin"` as `planning_plugin_name`. The default value stated in the [ROS docu](http://docs.ros.org/melodic/api/moveit_ros_planning/html/classplanning__pipeline_1_1PlanningPipeline.html#a946d

[2020-09-08 13:22] titouanlh commented on #314
Hello @hslusarek , thank you very much for your answer .
Unfortunately, I'm not working on this project anymore so I don't have access to the robot anymore.
However I can give you some answers  :
- I think I copied the wrong code in the issue or I corrected my it since, because in my code the `planning_plugin_name` is set as `"planning_plugin"`. So I think we're ok, sorry for the confusion
- I use

[2020-09-09 08:23] hslusarek commented on #314
Hello @titouanlh,
due to the fact that the problem is not reproducible (based on the given descriptions), we decided to close the issue.
Please, feel free to contact us if the problem reappears.

[2020-09-09 08:23] #314 closed, assigned to nobody

[2020-09-11 11:54] martiniil commented on #264
Shall we apply this on package or repo-level?

I think we cannot rely on the stability of dependent packages. So the stability has to be ensured by our maintenance. Do we plan to maintain `pilz_trajectory_generation` (the "old" planner code) in the future?

#### pilz_robots:
- prbt_hardware_support is still unstable
- pilz_control: known bug https://github.com/ros-controls/ros_controllers/issues/4

[2020-09-15 08:25] ct2034 commented on #264
@martiniil
I think it is supposed to be defined on the package-level. It is a tag to be included in the wiki. See https://wiki.ros.org/industrial_core for an example. So, I don't think we should add it to the meta-packages but only to the packages themselves.

On your second question: Currently we are not planning to maintain planner code at the "old" location.

[2020-09-15 10:12] gavanderhoorn commented on #264
You're of course free to use this as you see fit with your packages, but I just wanted to draw attention to the *Status Hierarchy* section (emphasis mine):

I can imagine though that to avoid any ambiguity or to be as clear as possible (ie: discoverability) you'd assign status to individual packages.

[2020-09-28 14:13] jschleicher commented on #267
kinetic build is no longer relevant.

[2020-09-28 14:13] #267 closed, assigned to nobody

[2020-10-01 11:15] #289 closed, assigned to agutenkunst, saheinisch, cdoehn

[2020-10-08 13:23] jschleicher commented on #288
implemented for integrationtest_sequence_action_capability* which is the only test case, that actually moves the robot. See \#1893.

[2020-10-08 13:23] #288 closed, assigned to nobody

[2020-10-09 12:46] jschleicher commented on #300
done

[2020-10-09 12:46] #300 closed, assigned to nobody

[2020-10-09 12:50] jschleicher commented on #286
Done - PR 43 pending.

[2020-10-09 12:50] #286 closed, assigned to nobody

[2020-10-09 12:51] jschleicher commented on #285
done. See pilz-planner-merge branch

[2020-10-09 12:51] #285 closed, assigned to ct2034, martiniil, SansoneG

[2020-10-09 13:05] jschleicher commented on #228
See ros-planning/moveit#1893.
Closing here.

[2020-10-09 13:05] #228 closed, assigned to nobody

[2020-10-09 13:18] jschleicher commented on #188
http://docs.ros.org/melodic/api/pilz_robot_programming/html/index.html#pilz_robot_programming.robot.Robot.execute_brake_test looks good. Please re-open, if you think there are still issues.

[2020-10-09 13:18] #188 closed, assigned to nobody

[2020-11-18 15:01] machinekoder opened #319 "MoveGroupSequence: find out which source command the trajectory output belongs to"
**Is your feature request related to a problem? Please describe.**
In our particular use case of the sequence planner, we use it to combine multiple commands in a robot program. It would be nice to give the user feedback on which source command the current execution state belongs to. For this purpose, it would be required to map the current time_from_start to a particular source command.

**Descri

[2020-11-18 15:04] machinekoder commented on #319
Note that the vanilla `position_trajectory_controller` doesn't give feedback on the position in the trajectory either. However, we are already working on extending this for pause/resume support. Given that we have the feedback working as wished, feedback on the generated segments would be meaningful.

[2020-12-09 19:33] srujan-aris opened #325 "**Build Error** : ‘static bool planning_scene::PlanningScene::isEmpty(const PlanningScene&)’ is deprecated: Use moveit/utils/message_checks.h instead [-Werror=deprecated-declarations]"
### Commit
At which commit was the issue/bug observed?
running ros-noetic on Ubuntu 20.04
building the melodic-devel

### Steps to reproduce
How can the issue/bug be reproduced?
[code]
### Expected behavior
build 100%

### Observed behavior

### Logfiles

[code]
**Upon [this](https://answers.ros.org/question/367169/does-move_groupplansamplejointtargetpose-implement-movej-by-default/) suggestion to

[2020-12-09 21:25] srujan-aris commented on #325
I tried underlaying a workspace which has moveit (melodic-devel) installed from source, and the **build was successful**. Is there a way to do this for noetic? Please suggest

[2020-12-11 15:29] anshulpaigwar opened #326 "Joint state out of range in the start"
### Steps to reproduce
I am trying to control the UR5 robot in Gazebo using Pilz industrial motion trajectory generator.
I get a strange error sometimes:

[code]

[code]

My joint states are not out of range:
Output of `print(r.get_current_joint_states())`
[code]

Strange thing is that sometimes the exact same code/nodes work without any error (I have to restart the gazebo and roscore). In the err

[2020-12-21 15:40] anshulpaigwar commented on #326
I found the reason for this error.
When simulating UR robots with Gazebo, we must use the `limited:=true` flag as MoveIt! seems to have difficulties with finding plans for the UR with full joint limits [-2pi, 2pi].
[code]
This is mentioned in the README.md file in https://github.com/ros-industrial/universal_robot

[2020-12-21 15:40] #326 closed, assigned to nobody

[2021-01-04 22:39] srujan-aris opened #327 "Exception caught: 'map::at'"
I built my own moveit config for a Fanuc Collaborative robot from a custom .xacro file. I'm trying to use PTP planner for motion planning of this robot using RViz and getting the following error. I have previously used pilz_industrial_motion successfully for a UR10. I followed the same steps for setup

System:
Ubuntu 20.04
ROS-noetic

### Expected behavior
Plan and Execute a path in PTP configurat

[2021-01-04 22:45] srujan-aris commented on #327
my `joint_limits.yaml` has   `max_acceleration: 0`. I changed it to `max_acceleration: 0.5` and everything works fine. I don't know the reason though!

[2021-01-04 22:45] #327 closed, assigned to nobody

[2021-01-08 10:22] jschleicher commented on #319
Yep, we would be glad to see such an addition as PR. This is related to #214 .
Please note, that the code is now moved as plugin into [upstream moveit](https://github.com/ros-planning/moveit/pull/1893), so please propose PRs over there.

[2021-01-14 17:33] anshulpaigwar opened #329 "Collision avoidance with Pilz industrial Motion Planner"
Does Pilz Industrial Motion Planner supports collision avoidance using planning_scene framework and CollisionObject msg??

[2021-01-18 16:03] martiniil commented on #325
Thanks for reporting this issue. What is your intention? Would you like to use the industrial planner in noetic? Then I suggest that you simply remove `pilz_industrial_motion` since the planner was merged into `moveit` (branch: `master`).

Feel free to re-open or pose another issue if your problem was not solved.

[2021-01-19 21:21] srujan-aris commented on #325
That's a good news @martiniil.
My intention is to generate Move_J (PTP) and Move_L (LIN) type of trajectories and perform collision checking for a UR10.
Previously I had no luck using this planner with moveit-noetic. I had to install moveit-melodic from source to use this planner.
I will try once again to use this planner with moveit-noetic and see if it works.

[2021-01-21 09:17] jschleicher commented on #325
@srujan-aris Yep, our planner was integrated upstream as [pilz_industrial_motion_planner](https://moveit.ros.org/moveit/pilz/motion%20planner/2020/12/17/Pilz-Plugin-for-MoveIt.html).

[2021-02-01 20:21] srujan-aris opened #334 "Support for Joint Coupled Robots"
**Is your feature request related to a problem? Please describe.**
Trajectory Generation for Kinematic Coupled Robots. For example the Fanuc Collaborative Robot series come with their Joint2 and Joint3 coupled together. If I use this pilz_command_planner to generate robot trajectories for such robots, the resultant trajectories are not correct
I think there should be a way to generate robot trajec

[2021-02-01 20:26] gavanderhoorn commented on #334
I'm not a maintainer here, but you mention a Fanuc, and that got my attention.

In ROS, joint angles are always 'decoupled' and with respect to the origin of the joint (ie: the 'previous joint').

Robot drivers are (implicitly) expected to take this into account, and if a robot reports (and takes) its joint angles in a different way, it's the driver's job to compensate -- in both directions.

In `

[2021-02-02 23:16] srujan-aris commented on #334
@gavanderhoorn , thanks for your answer and suggestions. Yes, I am not using either `fanuc_driver / fanuc_driver_exp`, we have our own fanuc driver.
In my setup my ROS system is not connected to the Fanuc directly. Hence, there is also no two-way communication between ROS and Fanuc driver. I have an middleware system which communicates between our fanuc driver and ROS.
I am using ROS only to simul

[2021-02-03 00:17] srujan-aris commented on #325
@jschleicher , I see the pilz_industrial_motion_planner upstream. I have one quick question, does moveit_setup_assistant suppose to generate config files related to pilz_industrial_motion_planner in the config package? I couldn't see any of those generated.

[2021-02-03 08:43] gavanderhoorn commented on #334
would be interesting to compare notes. Only by collaborating can we make progress.

You only have to couple the joints in the step `ros-trajectory-to-tp-program`. No where else.

So I'd suggest to add the coupling *there*, as that would immediately make *any* trajectory coming out of ROS 'compatible' with your setup without having to change each-and-every motion planning system you (may) use (in t

[2021-02-04 14:52] jschleicher commented on #325
Yes, the moveit_setup_assistant does generate the files - you have to just select `pipeline:=pilz_industrial_motion_planner` to use them. The current moveit master isn't released as binary, so you still need to build moveit from source.

[2021-02-09 19:53] srujan-aris opened #337 "Issue using pilz industrial motion planner after its merge into moveit-master"
I observed an issue using the pilz_industrial_motion_planner after the merge into moveit-master, although I am not sure if this is intentional as I am a relatively noob software deveoper. I opened this bug report if someone noob like me is wondering what the reason behind it.

I am using ROS-noetic on my machine, earlier to the pilz_industrial_motion_planner's merge into moveit-master, I used  pil

[2021-02-09 19:54] #325 closed, assigned to nobody

[2021-02-19 11:00] jschleicher commented on #337
Yes, that's expected. Thanks for writing this down for other people coming across the same issue! 👍

 Closing.

[2021-02-19 11:00] #337 closed, assigned to nobody

[2021-02-23 22:13] robertbeach opened #340 "Running demo_program.py"
### Commit
Noetic

### Steps to reproduce
Launch demo.launch
try to run demo_program.py

### Expected behavior
It should compile without errors

### Observed behavior
When I run demo_program.py I get an error message during the python "compile" phase indicating an item cannot be found.

@bob-u20:~/catkin_ws_otrajobj/src/kinova-ros/kinova_demo/nodes/kinova_demo$ python demo_program.py
Traceback (mo

[2021-02-24 12:21] jschleicher commented on #340
@robertbeach Thank you for reporting your issue. We have currently a branch https://github.com/PilzDE/pilz_industrial_motion/pull/331 that you could use with a moveit source build. We will merge it as soon as the binary release of moveit is out.
Please reopen, if you experience any problems on that branch.

[2021-02-24 12:21] #340 closed, assigned to nobody

[2021-02-24 16:40] robertbeach commented on #340
Hi

Thanks for the response. I thought the binary release of Noetic is already released. Is there something in the latest moveit source build that your software depends upon?

Branch 331 only refers to the pilz_industrial_motion directory. What about Pilz_robots and pilz_common? There is a noetic tagged branch for them, should I use that one?

Thanks

Bob

From: jschleicher <notifications@github.c

[2021-02-25 06:24] robertbeach commented on #340
Hello again

I cloned #331 as well as pliz_common (noetic) into my catkin_ws directory. When I try to build I get errors such as:

/home/bob/pilz_catkin_ws/src/pilz_trajectory_generation/include/pilz_trajectory_generation/command_list_manager.h:28:10: fatal error: pilz_msgs/MotionSequenceRequest.h: No such file or directory
   28 | #include "pilz_msgs/MotionSequenceRequest.h"

Is the noetic build

[2021-02-25 08:41] martiniil commented on #340
Hello @robertbeach.
Our command planner has been moved to moveit, but we are still waiting for a release of it. Unfortunately, using it on ROS noetic is not that straightforward at the moment. Maybe consider switching to melodic until everything is released. If you still want to build on ROS noetic, you need the following:

- moveit from source, see https://moveit.ros.org/install/source/, https://

[2021-02-26 05:33] robertbeach commented on #340
Hello

I have switched over to melodic on ubuntu 18.04. The build process went better but there are still problems.

The first thing I want to do is to run the pilz software in Rviz using a simulated robot. However the build sequence tries  to build a system for an actual physical robot using CAN and Modbus interfaces. While I was able to find a canbus package, there are too many modbus options to

[2021-02-26 09:52] jschleicher commented on #340
@robertbeach Did you follow the tutorial steps on [ROS wiki](http://wiki.ros.org/pilz_robots/Tutorials/MoveRobotWithPilzCommand_planner)? If you don't have a physical safety controller, you can use a `fake_safety_interface` as in our [templates](https://github.com/PilzDE/pilz_application_templates/blob/65a89ad61fb924f1b139bf02a4d7cfcd4fd0c6e1/prbt_default_application/launch/my_application.launch#L

[2021-04-26 08:57] jschleicher commented on #329
By construction the planner only does collision checking and rejects a plan if there is a collision. The goal of pilz_industrial_motion is to get reproducible trajcetories.
Please also note that this repo is no longer maintained - the code moved into the moveit upstream repository.

[2021-04-26 08:57] #329 closed, assigned to nobody

[2021-04-26 08:59] jschleicher commented on #334
Thank you @gavanderhoorn for sharing your experiences with fanuc robots. Closing here for inactivity - please re-open in [moveit upstream](https://github.com/ros-planning/moveit) if you still have any issues. The planner was integrated into moveit, so this repo is finally abandoned.

[2021-04-26 08:59] #334 closed, assigned to nobody

[2021-04-28 04:11] robertbeach commented on #340
Hello

What is the state of pilz on noetic? Is it part of the binary release or is it still build from source only?

Thanks

Bob

From: Immanuel Martini ***@***.***>
Sent: Thursday, February 25, 2021 12:42 AM
To: PilzDE/pilz_industrial_motion ***@***.***>
Cc: Beach, Robert ***@***.***>; Mention ***@***.***>
Subject: Re: [PilzDE/pilz_industrial_motion] Running demo_program.py (#340)

[External Emai

[2021-04-29 09:52] martiniil commented on #340
@robertbeach Not yet, but we are almost there.

[2021-04-30 04:02] robertbeach commented on #340
Is there a source build that works?

From: Immanuel Martini ***@***.***>
Sent: Thursday, April 29, 2021 2:53 AM
To: PilzDE/pilz_industrial_motion ***@***.***>
Cc: Beach, Robert ***@***.***>; Mention ***@***.***>
Subject: Re: [PilzDE/pilz_industrial_motion] Running demo_program.py (#340)

[External Email]

@robertbeach<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_robertbeach&d=Dw

[2021-05-03 08:09] martiniil commented on #340
Yes, I described it here: https://github.com/PilzDE/pilz_industrial_motion/issues/340#issuecomment-785722850

[2021-06-03 06:48] fmros opened #344 "Set default "Simple Command Planner" for moveit plugin"
I would like to set the "PTP" planner as default planner in the moveit configs. Elsewhere I have to select the planner everytime manually in the following tab of the rviz moveit plugin:

![image](https://user-images.githubusercontent.com/50864015/120599806-40df5680-c448-11eb-84e4-d61a3423cf02.png)

Is there a parameter that can be set in the moveit configs?

Thanks

[2021-06-07 10:00] martiniil commented on #340
fyi: the binary release is out. The planner was renamed to `pilz_industrial_motion_planner`.

[2021-06-07 10:02] martiniil commented on #344
Development of the planner is continued in MoveIt: https://github.com/ros-planning/moveit.

[2021-06-07 10:02] #344 closed, assigned to nobody

[2021-06-08 13:20] fmros commented on #311
I am seeing similar oscillations of the velocity profile from a LIN planned trajectory. But evaluating the output-trajectories with the rqt_joint_trajectory_plot tool shows me, that the trajectories are clean before entering the joint_trajectory_controller.

After some investigation, i found [this](https://github.com/ros-planning/moveit/blob/cdda16fdee21f05d6a6209d59e08cc6086d9efb6/moveit_planners

[2021-07-09 05:01] MatMcT opened #345 "Simple replacement for compute_cartesian_path (python)"
Hi guys,

After a few days of searching, I couldn't seem to find a solution to what I was looking for.

I was looking to use the functionality of MotionSequenceRequest as a replacement for MoveGroupCommander.compute_cartesian_path.

I reading the documentation [here](https://ros-planning.github.io/moveit_tutorials/doc/pilz_industrial_motion_planner/pilz_industrial_motion_planner.html)

I tried usi

[2021-07-25 04:24] o0stinger0o commented on #345
Hi MatMcT,
Recently, I try to find a method to control the speed of cartesian path.
My work environment is  ROS-melodic,moveit,UR10e,and webots.
I've tried Modify the **joint_limits.yaml**  and use  [retime_trajectory()](http://docs.ros.org/en/melodic/api/moveit_commander/html/classmoveit__commander_1_1move__group_1_1MoveGroupCommander.html#a5fb1d772b6d248a6c4113412eacb4330),[set_max_acceleration_

[2021-07-28 14:41] s265452 opened #348 "Cartesian limits are not fully set for LIN trajectory generator"
Hi everyone,
I'm using MoveIt in order to control my KINOVA Jaco2 7 DoF.
I followed MoveIt tutorial:

https://ros-planning.github.io/moveit_tutorials/doc/pilz_industrial_motion_planner/pilz_industrial_motion_planner.html#pilz-industrial-motion-planner

After that, I can Plan & Execute a trajectory with Pilz Industrial Motion Planner only in PTP mode.

When I try to Plan & Execute a trajectory eith

[2021-07-28 19:38] martiniil commented on #348
The error indicates that for some reason the planner could not read the cartesian limits. Make sure you have set all the limits as described in the moveit tutorial. The following example with another robot shows how the cartesian limits are loaded correctly onto the parameter server:
https://github.com/PilzDE/pilz_robots/blob/noetic-devel/prbt_moveit_config/launch/planning_context.launch

[2021-07-29 08:22] s265452 commented on #348
Thank you so much!
Your tip solved the problem.

[2021-07-29 08:22] s265452 commented on #348
Thank you so much!
Your tip solved the problem.

[2021-07-29 08:22] #348 closed, assigned to nobody

[2021-08-06 15:19] jschleicher commented on #345
For speed_override without the corresponding safety controller you could simply comment the lines in robot.py https://github.com/PilzDE/pilz_industrial_motion/blob/5a0efb8efc287db659ff3a3075549243b381725c/pilz_robot_programming/src/pilz_robot_programming/robot.py#L542-L546 or use the fake_speed_override as in several test cases: https://github.com/PilzDE/pilz_industrial_motion/blob/d3b255df6f35da6

[2021-08-06 15:19] #345 closed, assigned to nobody

[2021-08-10 14:45] theofficialgman opened #349 "Pilz robot programming CIRC seems to be broken"
running ros-noetic (may be an issue on other version as well)

I have observed that the circle command in pilz robot programming produces errors in the output and doesn't not follow an arc.
I've tested with my own simple code as well as the demo program launched as below:
[code]
when CIRC is called there are errors such as this in the output and a circular path is NOT followed. this is running the

[2021-08-13 09:37] jschleicher commented on #349
Probably you haven't loaded the Pilz planner at all but are using an OMPL configuration, that ignores the constraint:

Please also note, that the planner was integrated into upstream MoveIt in the meantime, you can find additional information in their Tutorials: https://ros-planning.github.io/moveit_tutorials/doc/pilz_industrial_motion_planner/pilz_industrial_motion_planner.html

Please use answer

[2021-08-18 23:37] theofficialgman commented on #349
@jschleicher probably you should have read my message
I have tested using both the moveit_resources_prbt_moveit_config demo.launch (ie: this repos own launch file) as well as my own launch file with pilz selected. both don't work, the pilz planner is loaded and in my own program I've selected it as the chosen planner.

its the fault of the pilz robot programming api, I can do circle moves if I cor

[2021-08-19 07:19] jschleicher commented on #349
If there is a bug in pilz_robot_programming python scripts, feel free to file a pull request. Sorry for my misunderstanding!

[2021-08-23 06:44] martiniil commented on #349
The log output you gave does not support that this is an error in the pilz_robot_programming api.

If you use [demo.launch](https://github.com/ros-planning/moveit_resources/blob/master/prbt_moveit_config/launch/demo.launch) from moveit_resources, you have to specify `pipeline:=pilz_industrial_motion_planner`.

[2021-08-24 21:39] PingHsunTsai commented on #314
Hello @hslusarek,
Recently, I start working on integrating the Pilz planner into the UR5 robot. By using the same driver([ros_industrial](https://github.com/ros-industrial/universal_robot), melodic) and following the guide you [posted](https://github.com/PilzDE/pilz_industrial_motion/pull/315/commits/7f989059a4f2e5d151fc70d2ba9526f385f3f2aa), few issues come up for me.
After comment out the 'end_e

[2021-08-25 08:16] martiniil commented on #314
@PingHsunTsai The pilz planner was integrated into moveit (pilz_industrial_motion_planner). We no longer maintain the packages included here.

[2021-08-25 08:28] PingHsunTsai commented on #314
@martiniil Thanks for the quick reply. I will check if there are the similar problems [here](https://github.com/ros-planning/moveit_tutorials/blob/melodic-devel/doc/pilz_industrial_motion_planner/pilz_industrial_motion_planner.rst)!

[2021-08-25 08:43] PingHsunTsai commented on #314
@martiniil Thanks for your quick reply. Is [here ](https://github.com/ros-planning/moveit_tutorials)the right place to bring up Pilz issue?

[2021-08-25 15:45] martiniil commented on #314
https://github.com/ros-planning/moveit/issues

[2021-10-21 11:52] romzn opened #352 "Multi DOF-joint error"
Hi Pilz-Team,
you did a fantastic job with the industrial motion planner!
Unfortunately i have a problem with the implementation to another Robot Manipulator.

### Steps to reproduce

I implemented the `pilz_command_planner` into another moveit-config (Franka Panda).
When i launched the demo with the following statement.

[code]
an error inside your `MoveGroupSequenceAction` came up:

[code]
The `

[2021-10-22 07:07] martiniil commented on #352
Hi @romzn! Development & support of our planner has moved to moveit. So first of all, I would encourage you to switch to the `pilz_industrial_motion_planner` contained in moveit. If your problem persists, copy your issue to https://github.com/ros-planning/moveit/issues.

[2021-10-22 13:16] #352 closed, assigned to nobody

[2021-10-22 19:40] romzn commented on #352
Thank you very much for your fast response @martiniil.
According to your suggestion i switched the issue to `ros_planning`.
https://github.com/ros-planning/moveit/issues/2930#issue-1033890085

I marked the line where the error message came up.
It seems to be that the `joint_model` isn't correct.

Thank you for your support!

[2021-12-15 20:37] ct2034 commented on #349
@theofficialgman I am closing this because it is not reproducible with the correct pipeline specified (i.e. `roslaunch prbt_moveit_config demo.launch pipeline:=pilz_industrial_motion_planner`)
See default param in https://github.com/PilzDE/pilz_robots/blob/noetic-devel/prbt_moveit_config/launch/demo.launch

If the problem still persist for you, please post the output that you get with the command

[2021-12-15 20:37] #349 closed, assigned to nobody

[2022-01-06 14:33] Muhrobot opened #353 "How to get the service ``/get_speed_override`` from PILZ-ROS"
I want to use the Pilz Industrial Motion in my robot for construct the trajectories, but in the redme file on pilz_robot_programming, it tell's me that i need a service named /get_speed_override, so how to create it? I try to start the service, and a already have a lot problems with the sequence move group when i try to use a API to control my robot with PILZ. I really want to use Pilz because of

[2022-01-11 12:48] #353 closed, assigned to nobody

[2022-01-11 12:51] Muhrobot opened #354 "How to move a Robot in the API Python with the Pilz_Industrial_Motion?"
I want to use the Pilz Industrial Motion in my robot for construct the trajectories, but in the redme file on pilz_robot_programming, it tell's me that i need a service named /get_speed_override, so how to create it? I do all the tutorials in the website of ROS: ( http://wiki.ros.org/pilz_robots/Tutorials ), it allows me to move the PRBT robot with the RViz and the API Python. These tutorials work

[2022-01-21 02:03] NWalker4483 commented on #354
Far from an actual fix but I just got past the issue by adding
```<include file="$(find prbt_hardware_support)/launch/fake_operation_mode_setup.launch" />``` to my ```pilz_industrial_motion_planner_planning_pipeline.launch.xml``` file
You'll also need to specify the base and planning frames whenever you create individual commands since a lot of the code as soon as you're working with a prbt  robot

[2022-01-28 14:20] #354 closed, assigned to nobody

[2022-02-21 15:52] logicraju commented on #218
Hi, i'm  trying to integrate it in UR10. Could you help me please ? Regards

[2022-02-21 15:53] logicraju commented on #210
How did you solve it ? Regards

[2022-03-08 12:30] KevinGalassi opened #355 "Multiple robot planning"
Hi,
I'm succesfully able to move a robot with moveit and pilz pipeline, but what if i have to plan the motion of  multiple robot? Because a can launch moveit in a namespace to differentiate the robot, but when in comes to use pilz API defining robot how can i pass the namespace of the robot to control?

In my specific case i have two robots "left" and "right" that have to move for an assembly task

[2022-03-28 16:01] GGU23 opened #356 "pilz_command_planner installation issues"
Hello, I tried to follow the ros tutorial for pilz and got stuck midway with this error. I am working on a wsl under ubuntu 20.04 (ros noetic).

### Commit
noetic-devel (latest)

### Steps to reproduce
How can the issue/bug be reproduced?
1. Follow http://wiki.ros.org/pilz_robots/Tutorials/MoveRobotWithPilzCommand_planner (and the prequisite)
2. launch `roslaunch prbt_moveit_config moveit_planning

[2022-03-29 07:58] GGU23 commented on #356
Problem solved. It was an error in the tutorial, doing a bad call to a depreciated file.

The answer to solve this issue is to change `roslaunch prbt_moveit_config moveit_planning_execution.launch pipeline:=pilz_command_planner` by `roslaunch prbt_moveit_config moveit_planning_execution.launch pipeline:=pilz_industrial_motion_planner`.

[2022-03-29 07:58] #356 closed, assigned to nobody

[2022-04-19 23:57] arvind1455 opened #357 "How to use pilz robot programming with Staubli robots ?"
I have been trying to use pilz robot programming with Staubli robots and failed eventually. So wanted to know what are the steps to use the code with Staubli robots @jschleicher

[2022-06-24 12:21] ct2034 commented on #357
Hi Kamesh. Can you please give me more detailed info on what you are trying to do. Please tell me which version you are using and send me the launch files you are using so that I can reproduce your errors.
We can not provide tutorials for every type of robot but if your robot works with moveit, it should also work with our planner.

[2022-06-24 12:24] ct2034 commented on #355
Hi Kevin. You can pass a planning goup to the commands with the `planning_group` param. For example for Ptp:
`Ptp(planning_group="my_group", goal=[0.1, 0, 0, 0, 0, 0])`

[2022-07-13 15:38] srwhite1995 opened #358 "Can't load pilz motions"
Hi,

I am trying to implement the pilz industrial motion planner on my robot arm which runs in moveit!

I have added the line: <arg name="pipeline" value="pilz_command_planner"/>

to my moveit_planning_execution.launch file, but they do not come up. Is there something else I need to do?

I have installed the packages and can get the pilz planners working on the pbrt tutorial example.

[2022-07-14 08:59] srwhite1995 commented on #358
The line I added was <arg name="pipeline" value="pilz_command_planner"/>

[2022-07-14 08:59] srwhite1995 commented on #358
arg name="pipeline" value="pilz_command_planner"

[2022-09-27 16:24] rijalmadhav12 commented on #357
for example panda robot which is used in moveit demo.

[2022-09-27 16:25] rijalmadhav12 commented on #357
i want to use pilz robot programming to sequence motion of panda arm that is used in moveit demo. What are the steps I need to follow. please guide me.

[2022-11-21 13:30] ct2034 commented on #264
nvm

[2022-11-21 13:30] #264 closed, assigned to jschleicher